[2019-03-30 18:39] l-l-l-l-l-l opened #2 "Issues with downloading [MangaDex, LHTranslation, KissManga]"
I have yet to update to this repository, but since what I have issues with seems unchanged, I'll mention it here:

-Someone fixed the lua for LHTranslations and posted it at Riderkick's issues. You should update the old lua.
-I seem to have some issue with Mangadex despite the cookies workaround; someone should check that and give a solution.

I'd mention the ongoing Kissmanga issue, but it seems

[2019-03-30 21:46] SDXC commented on #2
The fixed LHTranslation script is now merged, but for it to work you have to use a Cloudflare workaround:
https://github.com/SDXC/FMD/wiki/CF-Workaround:-LHTranslation

[2019-03-31 03:52] SDXC commented on #2
Here's the first release of this fork:
https://github.com/SDXC/FMD/releases/tag/0.9.160.0

Regarding MangaDex: At the moment, there doesn't seem to be anymore DDoS attacks, so Cloudflare isn't blocking right now. Please retry and let me know if it works.

[2019-03-31 03:59] anfgomezmo commented on #2
MagaDex is working fine after the DDoS attack. I will check the other sites in some hours. I think KissManga must be a priority since it is very popular, what do you think??

[2019-03-31 04:05] SDXC commented on #2
I will look into the problems with KissManga, but it will probably take some time because KissManga itself seems to be a real pain.

[2019-03-31 06:35] Tmp341 commented on #2
SDXC, can you give me a position, so i can assign you, close unnecessary issues etc?

[2019-03-31 07:44] devprojectid opened #3 "How to move from FMD 32bit (Riderkick version) to 64bit (SDXC version)?"
i want to move all downloaded manga, config, etc from my old FMD to this version, how to do it ?

[2019-03-31 10:00] SDXC commented on #3
Hi @devprojectid

First, make a backup of the complete installation folder of your old FMD (zip it and move the zip to a safe location)

For migrating to the new FMD and also to x64 you have to do the following steps:

* Delete the files in the base folder (from 7za.exe to updater.exe, but **don't** delete the subfolders)
* Open the new FMD package (downloaded 7z archive) and paste all the files a

[2019-03-31 10:07] ChocolateOtaku opened #4 "Updater size increase"
It seems the `updater.exe` size increased by almost 15 times.
Was this intentional?

[2019-03-31 10:20] SDXC commented on #4
Yes, there is a flag in the Lazarus project, that, if disabled, increases the size but also the performance. It may be more on the micro optimization part. Also I have a newer version of Lazarus and the base libraries, so it's possible that it also increased because of that.

I decided to do that, because these kind of file sizes don't really hurt.
And the package archives (7z) are actually smalle

[2019-03-31 11:06] ChocolateOtaku commented on #4
Closed as answered

[2019-03-31 11:06] #4 closed

[2019-03-31 11:51] SDXC commented on #2
@Tmp341 You're added now. Please go to the teams page (Support) and write on the discussion board. Further talk will be held there.

[2019-03-31 12:25] Tmp341 commented on #3
- ``config\config.ini`` -> Your personal settings (where to save etc)
- ``config\luamodules.json`` -> I think this is a checksum file for luas.
- ``config\modules.json`` -> Your personal entries for sites (User Agent etc)
- ``data\`` -> Manga sites' manga databases. If you update them, keep them.
- ``works\downloadedchapters.db`` -> As the name says, downloaded manga chapters.
- ``works\downloads.

[2019-03-31 15:33] Owyn commented on #2
KissManga doesn't work on this FMD too, only on website
![изображение](https://user-images.githubusercontent.com/1309656/55291092-7c52e600-53e3-11e9-9aec-c640c61b805f.png)

[2019-03-31 15:35] SDXC commented on #2
Yes, that's one thing I will look into the next few days.

[2019-03-31 15:38] molitar commented on #3
awesome sounds great.. A move to 64 bit.. great.

[2019-03-31 15:47] molitar opened #5 "Feature request"
I would like to be able to assign two sites for subscriptions for downloads. So say Kissmanga is your first one and it is down it will fall back to a secondary selection.  Is this something you can do?

BTW I think some sort of delay between checking for new manga scrapes and actually downloading needs to be implemented it's probably why so many sites keep changing so that FMD does not work.. fast

[2019-03-31 18:32] anfgomezmo commented on #2
Yes, it was already reported and SDXC is checking. I am reading the code so my solution could take a bit more time

[2019-03-31 18:33] anfgomezmo commented on #3
@Tmp341 Can you add it in the wiki?? and close this thread, please

[2019-03-31 18:42] Vantageright commented on #2
For me MangaDex isn't working at all, browser can connect fine but the downloader is just coming up red for every fave I have on the site.

[2019-03-31 19:21] SDXC commented on #3
We will make a wiki page for that, but the issue stays open until we get feedback or if we don't get any feedback in the next 2-3 days.

[2019-03-31 19:24] SDXC commented on #2
@Vantageright MangaDex is currently in mitigation mode, meaning that Cloudflare is running its business once again. I just tested the workaround and it works with it. For now the workaround for MangaDex can be found here: https://github.com/riderkick/FMD/wiki/FAQ

We will put up a more detailed wiki page for that later.

[2019-03-31 19:37] SDXC commented on #5
1. There is a fundamental problem with this: names, ids, order, etc. of chapters are differently on every website. Keeping up a sync between these pages so you don't get duplicate updates or a gap is kinda difficult. I'm not crushing down your idea yet, but it will take some consideration to many aspects of how the sites and how FMD works.

2. This is actually something that could be implemented e

[2019-03-31 19:39] Vantageright commented on #2
The page lists 5 cookies under the tab yet I only see 4, the missing one is mangadex=

[2019-03-31 19:48] SDXC commented on #2
That may have changed.
You either need the "mangadex" cookie setting or "mangadex_session".
Both are only available, when you are a logged in user.

I just did it with my own account in a fresh browser session. Without login I got the __cfduid and cf_clearance. After logging in I additionally got the mangadex_session. After putting everything in FMD and updating my UserAgent it worked.

Important:

[2019-03-31 20:05] Tmp341 commented on #3
Did it work for you?

[2019-03-31 21:04] hypomaniak commented on #2
Somehow, I can't get the new version to work on LHTranslations, where the old version is still working fine.

Also, both versions can't connect to Mangadex at the moment, but that's probably me getting the settings wrong: I can't get that "mangadex" cookie from either firefox or chrome, but even with the "mangadex_session" cookie it does not work.

Just a clarification: for all those cookie settin

[2019-03-31 22:46] devprojectid commented on #3
it works for me, thanks

[2019-03-31 22:46] #3 closed

[2019-03-31 23:05] JokoeSukri opened #6 "[April Fools Issue] With MangaDex"
**FAQ**

- Why I cant download at mangadex??

- I use tutorial wiki to bypass Cloud Flare why still cant downloading

- Why Mangadex change into MangaCat

**Answer :** This is 1st april

Some of Devs change the script to fools some people, Even you try Bypass with CF cookie, you can't download at mangadex for now. And the script still changing, depending on the depth of the Joke

![999](https://us

[2019-03-31 23:20] JokoeSukri commented on #6
and I'll wait for SDXC answer

[2019-03-31 23:27] #6 closed

[2019-04-01 01:43] admiralmikan commented on #2
Put the cookies on single line and separate each cookie with ;

_cfduid=XXXXXXXX; cf_clearance=XXXXXXX; mangadex_rememberme_token=XXXXXXX; mangadex_session=XXXXXXX

there's no mangadex=xxxx anymore, you only need mangadex_rememberme_token=xxxx

Also you have to put the right User Agent. Detect your user agent by enter this in your browser https://www.whatismybrowser.com/detect/what-is-my-user-agen

[2019-04-01 03:57] hypomaniak commented on #2
Yeah, I tried inputting like that, but no connection possible.
I already took the user agent from the browser I was getting the cookies for every try.

[2019-04-01 07:18] JokoeSukri opened #7 "Can't get manga info [Zero Scans]"
I cant get pages on Zero scans in this version 160
![Screenshot_23](https://user-images.githubusercontent.com/32964994/55309675-79b2c800-5499-11e9-88ca-c0dce885c843.jpg)

I still have old FMD as well ver.154 and works as far as I go
![Screenshot_24](https://user-images.githubusercontent.com/32964994/55309726-9949f080-5499-11e9-9c70-63405451a9e3.jpg)

I hope you can fix this

[2019-04-01 07:25] SDXC commented on #6
Just a side note: on days such as april fools day we all probably shouldn't try to do anything, rather wait a day or two and try again. It's much safer for your favorites and in some cases no issues are needed as they fix itself.

[2019-04-01 08:45] Tmp341 commented on #7
It seems ``Madara.lua`` contains Zeroscans' codes.

[2019-04-01 10:39] SDXC commented on #7
@JokoeSukri Just to make sure, can you upload your `Madara.lua` file so I can compare them? I will probably look into it today evening (GMT+1h).

[2019-04-01 10:41] mastafrooper opened #8 "Validate after Download"
It's not super regular but occasionally, normally when downloading a large series, some cbz files are corrupt.

Was wondering if at some point in the future an option could be added to validate the zip/cbz when it is finished and if corrupted redownload/recompress before moving on.

[2019-04-01 10:44] SDXC commented on #8
Do you mean the file packing mechanism of FMD itself or do you download cbz from the website? Is the archive itself corrupt or just some images?

This corruption should be fixable if it's being zipped after the download.

[2019-04-01 10:58] mastafrooper commented on #8
The packaging mechanism of FMD itself.

The archive itself is corrupt. If you run a test on it with 7zip the error is: 'Unexpected End of Archive' and it won't open with any readers. Tell it to download the chapters again and it works fine.

FMD is running in a VM saving to a network location. That location is on the host machine though so there should be no network drops.

[2019-04-01 11:02] JokoeSukri commented on #7
Github don't support lua, so I compress them

FMD 0.9.160.0 : [Madara.lua (v.160).zip](https://github.com/fmd-project-team/FMD/files/3028995/Madara.lua.v.160.zip)

[FMD 0.9.154.0 : Madara.lua (ver.154).zip](https://github.com/fmd-project-team/FMD/files/3029000/Madara.lua.ver.154.zip)

[2019-04-01 11:03] SDXC commented on #8
Okay, thanks for the reply. That's a bug then.

It either could be fixed with a new version of 7za (if it is the problem) or by fixing the way FMD writes the files to the archive or moves the archive (if it does). It can actually be a problem on the networking side, but more on the application layer than the actual network layer.

[2019-04-01 11:05] SDXC commented on #8
I'll take validation for archives in as a feature request. It would be a new option next to the archiving option.

[2019-04-01 11:06] mastafrooper commented on #8
Thanks. No hurry at all, it's been happening for a long time I've just been too lazy to log an issue. The move to a new fork kinda just motivated me some ;D

[2019-04-01 16:39] krakerz commented on #2
yeah, i can confirm it's not work even with all the cookies setup

[2019-04-01 16:49] SDXC commented on #2
@krakerz I checked it right now without any cookies set (advanced settings disabled) and it works for me right now. Also it is still 1. April, so try to endure it a little bit. We are not sure, if some of these problems happen because of some pranks or not.

[2019-04-01 16:50] hypomaniak commented on #2
Well, the old version still works fine with Mangadex at the moment, it's just when their website is in CF mode that it's a pain.

[2019-04-01 16:51] krakerz commented on #2
@SDXC yeah, i'm pretty much it's due april fool, since 31th still fine LMAO

[2019-04-01 16:58] Tmp341 commented on #2
Lhtranslation was woring for me yesterday, with the cookies workaround.

[2019-04-01 17:12] SalarG opened #9 "Issues with downloading [MangaPark]"
Hi.
I have a problem when I try to download a chapter from MangaPark.com. I can fetch the chapter list and have no problem getting chapter's info from MangaPark, but when I try to download a chapter, It fails.
(https://github.com/riderkick/FMD/issues/1646)

[2019-04-01 17:30] SDXC commented on #7
Problems seems to be one of the thirdparty libraries or the IDE version itself. I'm currently investigating where it went wrong.

Problem is, that it's not documented, which libraries were used in the old builds.

[2019-04-01 19:11] SDXC commented on #9
Please try these lua scripts. Try both MangaPark.net and MangaPark.org.

[MangaPark.zip](https://github.com/fmd-project-team/FMD/files/3030964/MangaPark.zip)

[2019-04-01 19:38] SalarG commented on #9
It worked. Thanks for the quick fix. The problem is solved now and I can download from Mangapark again.

[2019-04-01 19:55] SalarG opened #10 "Change the default download path for all or multiple favorites at once"
Hi.
FMD has an option to choose the default download path for new mangas, but if we wanted to change the download path of our favorites, we had to do it one by one manually. Can you add an option to simply change the download path for multiple or all mangas at once in favorites?
(For example, I want to change my default saving location from partition E:\ to F:\)

Thanks.

[2019-04-01 21:35] SDXC commented on #8
@mastafrooper Please try this new version before I release it. It should now work.

[fmd_0.9.160.1.zip](https://github.com/fmd-project-team/FMD/files/3031421/fmd_0.9.160.1.zip)

-> It was Synapse which was a little bit too old. It's now the latest version.

[2019-04-01 21:37] SDXC commented on #7
@JokoeSukri Please try the new version attached before I release it. It should be okay now.

[fmd_0.9.160.1.zip](https://github.com/fmd-project-team/FMD/files/3031427/fmd_0.9.160.1.zip)

-> It was actually Synapse, which was too old. It's now the latest version.

[2019-04-01 21:43] SDXC commented on #8
I have updated 7-Zip from 18.01 to 19.00. There were many bugfixes between them, so it's possible that it already fixes your problem. The new version of FMD will go public in the next hours. After the update please observe the behavior and let me know after some time, if it got any better, still the same or even worse.

On a side note: the new version of 7-Zip should be a little faster.

PS: Ticke

[2019-04-01 21:46] SDXC commented on #2
Some smaller networking problems could possibly come from the old version of a component (Synapse) that was too old. I updated that component for the next release. I'm waiting for some feedback and will release the new version afterwards.

[2019-04-01 22:31] mastafrooper commented on #8
I'll give it a try when I get home from work... in like 8 hours.

The problem isn't super consistent so I'll give it a few days and maybe find a new series to download at the same time.

[2019-04-01 23:41] molitar commented on #5
Hi SDXC, I can understand but maybe if site can not be reached for more than 12 hours or that then fall back to a default secondary site as site being down or broken.  Current I have 75% of my downloads on Kissmanga and as it is down I have to manually transfer each site one by one to a different site.

[2019-04-02 01:16] admiralmikan opened #11 "Failed to download [Komikcast]"
So today Komikcast failed to download again, only 0 zero current chapter. When I open the website, all it has was only __cfduid. Any fix for that?
![2019-04-02 08_14_48-](https://user-images.githubusercontent.com/17843605/55369153-8b3eb300-551f-11e9-90e2-6df73102298d.jpg)
![2019-04-02 08_12_47-Free Manga Downloader](https://user-images.githubusercontent.com/17843605/55369154-8b3eb300-551f-11e9-83c

[2019-04-02 01:46] phage80 opened #12 "Favorites UI column bug"
Somewhere in the fork this bug is regressed.
https://github.com/riderkick/FMD/issues/1167

[2019-04-02 02:30] JokoeSukri commented on #7
I just woke up, sorry for late reply
![Screenshot_18](https://user-images.githubusercontent.com/32964994/55371860-b5519e80-553a-11e9-8e56-c4e0ec86940c.jpg)
![Screenshot_14](https://user-images.githubusercontent.com/32964994/55371877-c26e8d80-553a-11e9-9c5b-845a051603ec.jpg)

It works like a charm between x64 and x32

[2019-04-02 04:09] Twoearle commented on #2
I can confirm that adding the User Agent and Cookies headers for mangadex works.

On the other hand KissManga is under maintenance right now, so i haven't been able to test it.

[2019-04-02 04:41] gooreat opened #13 "Downloads not progressing for some links [Hitomi.la]"
Have no problem fetching links from Hitomi.la, but for some reason some of them just won't progress (stuck at 0/total images). Usually happen to galleries with 1k+ images.

Been happening since the old version (0.9.158), thought this has been fixed since the changelogs mentioned the site :P

Glad someone decided to continue this project :D

[2019-04-02 04:42] Tmp341 commented on #2
@Twoearle If you delete kissmanga cookies from browser, that maintenance screen will be gone.

[2019-04-02 05:05] Sakurahime08 commented on #2
is https://myreadingmanga.info/ working? Can't seem to make it connect via FMD. It connects fine in a browser. Thanks!

[2019-04-02 05:07] Sakurahime08 opened #14 "Please add a PAUSE feature."
Please add a PAUSE feature for checking of bookmarks and downloading. Thank you!

[2019-04-02 05:28] SDXC commented on #11
Please try again with this version. If it doesn't work, please provide your MangaShiro.lua and the favorites.db.

[fmd_0.9.160.1.zip](https://github.com/fmd-project-team/FMD/files/3032392/fmd_0.9.160.1.zip)

[2019-04-02 05:31] SDXC commented on #12
Yep, one of the components is not fully compatible with my fork. As I don't know which versions were used in old FMD I have to try different versions Virtual TreeView.

[2019-04-02 05:34] SDXC commented on #13
Hi, please provide some examples that failed and one that didn't fail. I will look into it today evening (GMT +1h).

[2019-04-02 05:45] Sakurahime08 commented on #2
is https://myreadingmanga.info/ working? Can't seem to make it connect via FMD. It connects fine in a browser and in the old FMD. Thanks!

[2019-04-02 06:26] gooreat commented on #13
NSFW obviously, but here's one with >1k images that didn't work: https://hitomi.la/galleries/1371641.html
and this one is working for some reason (almost 2k images): https://hitomi.la/galleries/1389147.html

Thanks!

[2019-04-02 07:05] AbidZakaria commented on #11
![image](https://user-images.githubusercontent.com/19544118/55382510-03bd6800-5550-11e9-9740-de3a86741144.png)

okay, work fine

![image](https://user-images.githubusercontent.com/19544118/55382559-294a7180-5550-11e9-9da8-d9233e1c18a0.png)

but a little languange indo not complete
Completed => Selesai
Stoped => Berhenti
Disabled => Dimatikan

[2019-04-02 10:04] Sakurahime08 commented on #2
Can't also download from Mangahasu. I can access the manga page in FMD but can't download. I've also applied the cookies workaround on it. What to do? Thanks!

[2019-04-02 11:35] l-l-l-l-l-l opened #15 ""Save WebP as" doesn't work [MangaPark]"
After seeing the changelog, it seems that this has yet to been tackled. The other day I tried downloading from MangaRock with the previous version and, despite having the "save webpp as" set to png, it still downloaded the images in webpp, which is not supported by my reader of choice.

[2019-04-02 12:59] l-l-l-l-l-l opened #16 "Cannot access MangaReader chapter list"
After Goodmanga migrated to Mangareader (please remove Goodmanga from the site list) I had some issues with Goodmanga (mainly because I wasn't aware of the change). Now that I discovered it I tried migrating my favorites, which is sometimes a chore since they don't keep the same naming for all series; it was during the process of searching for the new names that I discovered that, for some reason,

[2019-04-02 14:54] admiralmikan commented on #11
Nice, works perfectly. Although I have to moved my data and config since I was still using old .152 build fmd

[2019-04-02 16:04] SDXC commented on #11
@AbidZakaria Language files are fixed in the official release (coming up any moment). I can re-add MangaID, but why?

@admiralmikan Thanks for the feedback.

[2019-04-02 16:08] SDXC commented on #2
@Sakurahime08 It works with the new patch (will be online any minute). Please try it, as soon you get the new version of FMD.

[2019-04-02 16:14] SDXC commented on #13
@gooreat I think the problem is, that the images don't even load on the website itself... I was checking the gallery you couldn't download and I can't even see the images in the browser. That would be a website problem.

[2019-04-02 16:26] SDXC commented on #13
I just re-checked. One thing I had to fix when I forked FMD was, that Hitomi uses a second image server called ba.hitomi.la which wasn't being checked against. The old image server called aa.hitomi.la is currently having problems. That's where all the galleries reside in, that can't be properly loaded.

Let's wait abit, if it's only a temporary problem. It's also possible, tha Hitomi is migrating

[2019-04-02 16:43] SDXC commented on #15
@l-l-l-l-l-l Can you please provide a chapter that didn't work for you? Can you also make a full screenshot of the options tab where you have the webp setting?

[2019-04-02 17:33] SDXC commented on #4
I was actually using the wrong udater project. I didn't notice, that FMD moved to the slim updater. That was also the reason of the file increase.

[2019-04-02 17:45] l-l-l-l-l-l commented on #15
OK, this is weird. I tried again with the exact same chapter I discovered the issue with and now it works correctly.

The only thing I did since then in that general area was pressing "apply" after checking and then unchecking "save PNG as JPG", so the only reason that comes to my mind would be that somehow the soecification was saved only halfway before (i.e. it knew that the option was selected

[2019-04-02 17:51] SDXC commented on #15
Did you per chance make a clean installation with this fork? Normally a control has a default state. It's possible that it showed PNG, but the config value was not set yet. Changing the value and apply saved the setting in the config afterwards.

[2019-04-02 17:55] l-l-l-l-l-l commented on #15
It seems the issue may have been with the previous version, possibly. But it's weird that it fixed itself without touching it (no WebP issue fixing notice in the changelog).

If it somehow it happens again, I'll notify it.

[2019-04-02 17:58] SDXC commented on #7
Official release is out now. The updater in the version 0.9.160.0 and the hotfix 0.9.160.1 doesn't work. You have to update manually. Updater should work for the future releases though.

[2019-04-02 17:59] #7 closed

[2019-04-02 18:00] SDXC commented on #2
@Sakurahime08 Official release is out now. The updater in the version 0.9.160.0 doesn't work. You have to update manually. Updater should work for the future releases though.

[2019-04-02 18:02] SDXC commented on #11
@admiralmikan Official release is out now. The updater in the version 0.9.160.0 and the hotfix 0.9.160.1 doesn't work. You have to update manually. Updater should work for the future releases though.

[2019-04-02 18:16] hypomaniak commented on #2
0.9.161 works fine for me on LHT and Mangadex, and the new script for LHT has fixed the chapter naming problem (when coming from favorites), thanks !

[2019-04-02 18:30] SDXC commented on #2
@l-l-l-l-l-l Except for KissManga, does the rest work for you, using 0.9.161.0? This issue is getting overloaded with many different topics, so I want to come to a closure. We will open an ongoing issue for KissManga after closing this one.

[2019-04-02 18:37] SDXC commented on #8
Official release is out now. The updater in the version 0.9.160.0 doesn't work. You have to update manually. Updater should work for the future releases though.

[2019-04-02 19:13] SDXC commented on #12
I probably made the exact same mistake as the devs before me. Using v5 of Virtual TreeView. Backporting to v4 fixed it. The fix will be in the next release.

[2019-04-02 19:19] Slasar41 opened #17 "New download jobs are not sorted when adding to the list"
I sort Added column in descending order but the new downloads always added at the bottom list so I must manually refresh it by changing to ascending order then descending order again and the new downloads will be at top list as it should be.
This issue been happening for a long time I've just been too lazy to log an issue.

[2019-04-02 19:22] SDXC commented on #17
It's like that for me as well (sometimes this behavior is useful to me).
I will look into it.

[2019-04-02 21:14] molitar opened #18 "Updater failed"
Failed to download new version 0.9.161.0

403 forbidden

[2019-04-02 21:17] #18 closed

[2019-04-02 21:17] molitar commented on #18
Ok see the update message your already aware of it.

[2019-04-03 01:34] gooreat commented on #13
@SDXC well, I just downloaded the new FMD (and had to install it manually due to some error :P) and guess what, the download is now working lol (at least for the first link, haven't tried other links yet)

Should I close the issue now? or wait after few more testing?

[2019-04-03 01:56] AbidZakaria opened #19 "Please update lua script MangaHubIO in FMD"
![image](https://user-images.githubusercontent.com/19544118/55447678-e4294c80-55ee-11e9-92d5-3eb9c52a3fc1.png)

please update for anyone
sorry bad english languange

[2019-04-03 02:02] AbidZakaria commented on #11
@SDXC MangaID is my favorite Manga source

[2019-04-03 02:21] AbidZakaria opened #20 "Please Change luamodules.json link"
![image](https://user-images.githubusercontent.com/19544118/55448412-e04af980-55f1-11e9-8546-3146efc88564.png)

[2019-04-03 02:26] AbidZakaria commented on #20
ok fixed after i replace base.ini and remove another config

[2019-04-03 02:26] #20 closed

[2019-04-03 02:27] #19 closed

[2019-04-03 04:14] MIRVOUS opened #21 "Add websites [OtakuIndo, KomikManga, Komiku], fix [Kiryuu]"
https://otakuindo.net/
https://komikmanga.com/
https://kiryuu.co/
https://komiku.co/

[2019-04-03 09:16] MIRVOUS opened #22 "Can't access sqlite database file"
![fmd1](https://user-images.githubusercontent.com/45929526/55467563-c4fce000-562b-11e9-93ff-879ac86f8465.PNG)
![fmd3](https://user-images.githubusercontent.com/45929526/55467564-c4fce000-562b-11e9-8d8c-fbd7ac2e9b18.PNG)

[2019-04-03 09:24] SDXC commented on #13
@gooreat I'll close the ticket. You can reopen it anytime if it happens again. Like I said before. It's possible that one of the image servers just had some temporary problems.

[2019-04-03 09:25] #13 closed

[2019-04-03 09:28] SDXC commented on #11
@AbidZakaria I removed it because it was like that in the lua script I merged and because I only get a blank page when I try to go to MangaID, that's why I thought that it's offline. Just to be sure: Should I re-add MangaID even thouhh it's not accessible?

[2019-04-03 09:44] mastafrooper commented on #8
Problem is still occurring. It's random so I can't be certain but the only thing I can think of is when it is downloading when my Surface Go is turned on as it's set to sync my manga folders whenever there are changes.

It shouldn't be locking a temp file though unless FMD isn't locking it. It doesn't happen to every file though. This series I found had 14 chapters and it happened to 4. I also dow

[2019-04-03 10:41] AbidZakaria commented on #11
just add it, I'll send the script file later

[2019-04-03 11:29] l-l-l-l-l-l commented on #16
Fixed with the latest update.

[2019-04-03 11:29] #16 closed

[2019-04-03 12:52] AbidZakaria commented on #11
[MangaID.zip](https://github.com/fmd-project-team/FMD/files/3038683/MangaID.zip)

that lua for MangaID
please add

[2019-04-03 13:41] Tmp341 commented on #22
Seems like you're running fmd from ``C:\`` drive. Try again with right click and ``Run as admin`` option.

[2019-04-03 13:46] Tmp341 commented on #11
There might be regional lock. @AbidZakaria can you please send a screenshot, a working mangaid page maybe?

[2019-04-03 18:24] AbidZakaria commented on #11
This my screenshot

[2019-04-03 18:35] SDXC commented on #11
@AbidZakaria lua is added now. Should be available through the lua update check now.

[2019-04-03 18:36] Tmp341 commented on #11
I've added your ``lua`` again and @SDXC approved it.

[2019-04-03 18:38] SDXC commented on #11
Issue will be closed. If any there are any problems with MangaID, please open a new issue.

[2019-04-03 18:38] #11 closed

[2019-04-03 18:42] AbidZakaria commented on #11
Okay, I will check it later

[2019-04-03 19:38] SDXC commented on #8
Can you recreate this issue with the exact same series over and over again?
If we can recreate this more or less at will, we can test better.

Regarding the problem itself, here are some guesses:
* Your sync sets a lock on the image files and FMD/7-Zip can't get a read on them and aborts.
* Your sync also targets tmp files and locks them whil 7-Zip is packing or trying to rename the tmp to cbz.

T

[2019-04-03 20:11] SDXC commented on #15
I tested some things and can't reproduce the problem. It's possible that the move to the new version had a hiccup at the first start with that option and was properly written to the config file afterwards.

I'll close this issue for now. If it happens again, just re-open this issue.

[2019-04-03 20:11] #15 closed

[2019-04-03 23:10] AbidZakaria commented on #11
![image](https://user-images.githubusercontent.com/19544118/55518979-36767600-56a0-11e9-9dda-80e53e6f1380.png)

![image](https://user-images.githubusercontent.com/19544118/55519004-5c9c1600-56a0-11e9-8061-4dad6ef48bbe.png)

Thanks

[2019-04-04 03:40] ayanamichie commented on #2
Kissmanga is working too
![image](https://user-images.githubusercontent.com/48865118/55528151-44ad9d80-5672-11e9-88fe-f0472fdf4a52.png)

![image](https://user-images.githubusercontent.com/48865118/55528062-ebde0500-5671-11e9-9837-2c4c6066d126.png)
![image](https://user-images.githubusercontent.com/48865118/55528120-25af0b80-5672-11e9-85ad-d903a1afaf51.png)

![image](https://user-images.githubuserc

[2019-04-04 03:41] Tmp341 commented on #11
This approves my "regional lock/block" idea then.

[2019-04-04 03:56] ayanamichie opened #24 "Dark Mode?"
Could we get a Dark/Night Mode?
Its so bright.

[2019-04-04 04:52] TehBotolSosro opened #25 "Validate Downloaded images"
Hi,

I'm usually download from batoto or mangastream but sometime FMD didn't get few pages/images in a chapter so i had to redownload to get the missing pages.

is there a way for FMD to check if all the images/pages are all downloaded or not and restart the download automatically, maybe like count the total of image/page before download and do a count of total image downloaded if its different th

[2019-04-04 06:36] AbidZakaria commented on #21
@SDXC i created lua for [OtakuIndo, KomikManga, Komiku] i will upload later

[2019-04-04 07:12] AbidZakaria commented on #21
[myReaderMangaCMS.zip](https://github.com/fmd-project-team/FMD/files/3042115/myReaderMangaCMS.zip)
that lua for KomikManga

[MangaShiro.zip](https://github.com/fmd-project-team/FMD/files/3042119/MangaShiro.zip)
that lua for OtakuIndo and Komiku

please @Tmp341 or @SDXC  add it

[2019-04-04 07:27] AbidZakaria commented on #21
Wait for lua realease @MIRVOUS ,and test that website in your FMD

[2019-04-04 08:17] Tmp341 commented on #21
Im going to add a PR in a couple of minutes.

[2019-04-04 08:29] AbidZakaria commented on #21
Really, how?
I'm Not familiar
Using git
@Tmp341 can you teach me

[2019-04-04 08:41] Tmp341 commented on #21
1. Go to the file you want to change, like https://github.com/fmd-project-team/FMD/blob/master/lua/modules/MangaID.lua file,
2.  Then use pen button explained here :https://help.github.com/en/articles/editing-files-in-your-repository, change it.
3. Then follow up with this https://help.github.com/en/articles/creating-a-pull-request

[2019-04-04 08:55] Tmp341 commented on #22
If my statement won't fix it, send us your database file.

[2019-04-04 09:31] Tmp341 commented on #21
Okay. Closing this for now. If you have any problem, reopen this issue.

[2019-04-04 09:32] SDXC commented on #21
@Tmp341 Don't close the issue yet. I have to update the changelog first, but can't because I'm not home right now.

[2019-04-04 09:39] SDXC commented on #24
I take a look at that. I'm normally up for some dark modes, but it's also a question on the Pascal/Lazarus side. Dark is good, but it also has to look good somehow. I'll experiment a bit and if there will be something that could be worked with, I'll make some design studies to show you.

[2019-04-04 10:03] admiralmikan opened #27 "Adding feature to import text file contains multiple links"
Can you add feature to import text file that contains multiple links? I found that some newer titles not exist on the database, for example Nhentai, even after update manga list. I have to add them one-by-on on Manga Info tab. If I can just put several links on text like, for example:

https://nhentai.net/g/266987/
https://nhentai.net/g/265469/
https://nhentai.net/g/265048/
https://nhentai.net/g/2

[2019-04-04 10:41] admiralmikan commented on #10
For temporary solution, you can use DB Browser for SQLite program, open favorites.db, copy all entries on saveto tab to notepad, replace all original download path to newer one, copy it, and paste it back to DB Browser for SQLite saveto tab.

That's what I do in the past. I actually lost all my favorites once because I only used Notepad to open favorites.db.

[2019-04-04 11:14] SDXC commented on #27
Talking to myself right now...

Some things to think about:
* Importing a list can contain different sites.
* What should happen with the links? Should they directly be added to the favorites and download all chapters? / Should they only be added to the favorites? / Should they only download all chapters without favorites? -> Possible solution to that. Make that some new options and/or create a di

[2019-04-04 11:35] Tmp341 commented on #27
- Ask user -> just add them to download list, but also with a select button add manga to favorites.
- User option again ->an option to add them stopped. or just download them.

[2019-04-04 13:29] admiralmikan commented on #27
Duh, I don't think that far. But I agree with what Tmp341 said. Just make it simpler, even I don't think it's a bad idea to only allow one website when importing task. On a side note, you can prioritize my 2nd request if my first request needs a bit more time.

[2019-04-04 15:12] SalarG commented on #10
Thanks.
Actually, that's exactly what I did too, but I don't like to edit files using third-party apps even if it's something as reliable as SQLite.

[2019-04-04 15:35] admiralmikan commented on #10
Sure. No probs. I just don't want people got same experience like me. I learned it the hard way.

[2019-04-04 15:49] SDXC commented on #21
Changelog updated.

[2019-04-04 15:50] #21 closed

[2019-04-04 16:44] SDXC commented on #27
Regarding the different sites per file: That's not really a problem in itself. I have to handle each entry anyway, so it doesn't really make any difference if you only add entries from one site ore many.

Another thing: What happens with failed entries? -> Writing the failed entries to a seperate file and show it to the user.

[2019-04-04 18:14] SDXC commented on #17
@Slasar41 I added an option to sort the downloads list automatically when adding a new download task.

Keep in mind, that if you enable this option, the complete download list will be sorted. I guess that's not really an issue for you, but just so you know.

To enable that option, see the screenshot (don't forget to "Apply"):

![SortDownloadsOption](https://user-images.githubusercontent.com/529026

[2019-04-04 18:26] Slasar41 commented on #17
Alright, thank you.

[2019-04-04 18:33] SDXC commented on #17
New version will be up on the weekend. Still trying to implement some more things :)

[2019-04-04 18:41] Slasar41 commented on #17
Ok, nice to see FMD project still alive :)
One question, isn't it should be default the new download jobs to be at the top list when the Added column sorted by descending order?

[2019-04-04 18:52] SDXC commented on #17
More like resurrected :P

For now I think we should let the default be appending at the end of the list.
The new option let's you sort by ANY order you set, even if you sort by Status.

Technically it's less complex if you just add new tasks at the end of the list. The downloads are being processed from top to bottom as well, so always adding at the top could be pretty strange, so it should be an

[2019-04-04 19:04] Slasar41 commented on #17
I have IDM app and sorted the Last Try Date column by descending order and the newest download will always be at the top list. I like it so I don't have to scroll down through many list to find the new download.
Anyway thanks to the new option. :D
Will you add what changes to the code in commits?

[2019-04-04 19:08] SDXC commented on #17
Just did ;)

[2019-04-04 19:19] Slasar41 commented on #17
Nice. :)

[2019-04-04 19:36] Von07 commented on #25
Glad I found a same issue like this one because I experience this just now from a site http://holymanga.net
so I thought the problem is the website itself but when I tried to check it, the web. is complete while the fmd chapters has lacking pages from the web.
So I hope that this will be fix soon

Thank you for taking over this project ^^

[2019-04-05 02:17] mastafrooper commented on #8
Did some more testing last night.

Does seem to be the syncing that's causing the issue. Added exclusions to it for JPG, GIF, PNG and a few other image formats I could think of as well as TMP files. Also tweaked it's idle time to 60 seconds after last modification before it syncs. Still got the occasional corrupt CBZ. Shut the tablet down when I went to sleep and another 100-150 chapters of things

[2019-04-05 04:31] molitar commented on #2
Can you provide instructions on how you get them keys and initialization vector in Firefox?

[2019-04-05 06:23] Tmp341 commented on #2
- Open kissmanga.com -> Open a manga chapter's first page.
- Right click -> inspect element -> choose "console"
- Type "chko" and hit enter. Copy and paste what has returned from that code to a blank text file. For example "mshsdf832nsdbash20asdm".
- Now type "CryptoJS.enc.Hex.stringify(iv)" and hit enter. Copy and paste what has returned from that code to a blank text file. For example "a5e8e2e9c

[2019-04-05 06:54] MIRVOUS commented on #22
okay its work
thanks

[2019-04-05 06:58] TehBotolSosro commented on #25
yeah what's weird is that the task didn't show as failed task but as a completed task,
i also didn't use too many connection ( 2 downloaded task and 2 files per task at the same time)
and even have the retry option enabled (5 retry and 30 sec timeout), but still sometime FMD only download 1 page in mangastream

it could be because the websites drop the connection it's full or maybe there some prot

[2019-04-05 07:37] MIRVOUS opened #28 "Check all checkboxes at once"
![fmd4](https://user-images.githubusercontent.com/45929526/55611653-51381000-57b0-11e9-977a-a601a538a87e.PNG)

[2019-04-05 08:19] MIRVOUS opened #29 ""Download all lists from server at once" can't find all lists (404 not found)"
![fmd5](https://user-images.githubusercontent.com/45929526/55613899-fa353980-57b5-11e9-8c75-8f355490f3ae.PNG)

[2019-04-05 10:05] MIRVOUS commented on #29
i'm trying to "download all lists from server at once"

[2019-04-05 10:18] AbidZakaria commented on #29
Your FMD program not update or base.ini not Linked to fmd-project-team link

[2019-04-05 11:05] SDXC commented on #29
The problem is, that the manga list files are hosted in a sourceforge repo that isn't maintained by us.
All these sites that are listed in the error message don't exist in that repo:
https://sourceforge.net/projects/newfmd/files/data/

We will probably create our own repo for that, but that will come later.

[2019-04-05 11:11] MIRVOUS commented on #29
OK. I checked the link

[2019-04-05 11:14] MIRVOUS commented on #29
and there is no same link in my photo

[2019-04-05 11:19] SDXC commented on #22
Thanks for the feedback.

[2019-04-05 11:19] #22 closed

[2019-04-05 11:20] MIRVOUS commented on #29
can you tell me how to add the manga list in a sourceforge repo?

[2019-04-05 11:22] SDXC commented on #2
TODO (for me):
* Create a wiki page with a clear and easy to understand step-by-step guide.
* Add a link in FMD to the wiki page, so users can't get to the info easier.

[2019-04-05 11:26] SDXC commented on #29
As far as I know, you (and me neither) can't add new files to that repository. That's one reason why we will create our own (github) repository, but we need a bit of time to plan this, as we want to let more users to contribute somehow.

[2019-04-05 11:34] MIRVOUS opened #30 "Button to read local files in associated application"
![fmd6](https://user-images.githubusercontent.com/45929526/55624866-683b2a00-57d1-11e9-95d0-d535dac65b40.PNG)

[2019-04-05 11:35] MIRVOUS commented on #30
and maybe for ".pdf" viewer

[2019-04-05 11:37] MIRVOUS commented on #29
ok thanks for information and Good luck

[2019-04-05 11:54] SDXC commented on #30
I probably won't implement it, as FMD is primarily just a downloader and not a local file/collection manager.

For now I won't close the issue yet. I'll get a good night's sleep and re-evaluate this before making a definite decision.

[2019-04-05 12:15] riedhows opened #31 "Add, fix, change and remove some Indonesian sites"
hello some indonesia site error

List error site
Mangaid.me - can't fetch new chapter
komikcast.com - change template and title show N/A
neumanga.tv - change template and title show N/A
pecintakomik.com - change domain to pecintakomik.net
komikotaku.net - change domain to kyuroku.com
Kiryuu.co - can't fetch new chapter

and please add this site
bacamanga.web.id
komikindo.web.id

delete site
mangak

[2019-04-05 12:31] SDXC commented on #31
@riedhows I saw you also posted this in the old FMD repo. Before you made this issue, did you try this fork with v0.9.161.0?

[2019-04-05 12:37] MIRVOUS commented on #30
ok thank for confirm

[2019-04-05 13:08] AbidZakaria commented on #31
Mangaid.me moved manga to bacamanga.web.id
I try to create for lua file for that website

[2019-04-05 13:20] AbidZakaria commented on #31
@SDXC I will check the error manga source

[2019-04-05 14:54] Tmp341 commented on #29
You had to be in the previous FMD team (riderkick's). Since you're not, that repository in SF is not up to date.

[2019-04-05 14:56] Tmp341 commented on #2
@SDXC Is that ``chko`` method still needed?

[2019-04-05 15:18] AbidZakaria commented on #31
Mangaid.me - moved to BacaManga
komikcast.com - work fine
neumanga.tv - small fix with info title
pecintakomik.com -  work fine
komikotaku.net - deteled
kyuroku.com - site added
Kiryuu.co - work fine
bacamanga.web.id - site added
komikindo.web.id - using komikindo.co
mangakid.net - why delete?
mangaindo.net - why delete?

[2019-04-05 15:36] MIRVOUS commented on #29
ok. i see

[2019-04-05 15:43] MIRVOUS commented on #31
Kiryuu.co - work fine
bacamanga.web.id - site added

how do i check it out

[2019-04-05 15:55] admiralmikan commented on #31
Anyway, can you check westmanga too? It only showing #NA on titles

![2019-04-05 22_54_57-Free Manga Downloader](https://user-images.githubusercontent.com/17843605/55640490-e90c1d00-57f5-11e9-83f7-7b650c5d6ab2.jpg)

[2019-04-05 15:56] AbidZakaria commented on #31
not yet assigned by @SDXC  :V

[2019-04-05 16:03] MIRVOUS commented on #31
ok.
can you add this site
https://www.komikzone.com/
maybe the list is not many but. that is good site in my opinion

[2019-04-05 16:06] AbidZakaria commented on #31
that sites was change template

[2019-04-05 16:18] admiralmikan commented on #31
so it needs updated lua?

[2019-04-05 16:23] AbidZakaria commented on #31
![image](https://user-images.githubusercontent.com/19544118/55642123-ce3ba780-57f9-11e9-8019-90861ca1cb58.png)
small fixing

[2019-04-05 16:28] Tmp341 commented on #31
I can approve those changes, but since i don't know anything about ``coding lua`` etc, i've marked @SDXC to review them.

[2019-04-05 16:46] AbidZakaria commented on #31
you must create new issue for request new sites

[2019-04-05 17:06] AbidZakaria commented on #31
@admiralmikan waiting merge from @SDXC or @Tmp341

[2019-04-05 17:13] panhartstuff commented on #25
Something more useful would probably a better error handling feature. Maybe something like a queue list of failed downloads you can retry later on.
Also I wanna ask, is there a gap in the filenames (12,13,16,17,etc.) when some downloads failed?

[2019-04-05 17:27] MIRVOUS opened #36 "Add HTTPS support for proxy connections"
![proxy](https://user-images.githubusercontent.com/45929526/55645344-8a00d500-5802-11e9-8cbf-fe0772e886a1.PNG)
![fmd7](https://user-images.githubusercontent.com/45929526/55645428-c16f8180-5802-11e9-9b6f-cef03d9f5816.PNG)

[2019-04-05 17:45] SDXC commented on #31
@all I will review and approve the changes in a bit.

@Tmp341 Except for Localization please don't push/approve any commits/requests. I explicitly want to be the last instance before something gets approved. But thanks for the preparation so far.

@AbidZakaria Also thanks for your contribution.

[2019-04-05 18:24] SDXC commented on #31
Current status of the site requests, etc.

- [ ] mangaid.me - remove
- [ ] komikcast.com - ok
- [ ] neumanga.tv - fix
- [ ] pecintakomik.com - ok
- [ ] komikotaku.net - remove
- [ ] kyuroku.com - add
- [ ] Kiryuu.co - ok
- [ ] bacamanga.web.id - add
- [ ] komikindo.web.id - same source as komikindo.co
- [ ] mangakid.net - why delete?
- [ ] mangaindo.net - why delete?
- [ ] komikzone.com - add

@ri

[2019-04-05 18:27] SDXC commented on #31
@MIRVOUS like AbidZakaria said, please open a new issue for that.

[2019-04-05 18:33] Tmp341 commented on #31
I haven't approved (and won't approve) those, since i don't know anything about coding. 😃

[2019-04-05 18:40] SDXC commented on #31
@Tmp341 yeah, it was just a preventive info 😄

[2019-04-05 18:46] SDXC commented on #8
So it's not an actual bug then.
I will implement an option to define a temp directory for chapter packing.
Meaning that chapters will be downloaded to temp, zipped, archive moved to actual target and temp will be cleared afterwards.

I will evaluate some more concepts though.

[2019-04-05 19:24] riedhows commented on #31
mangakid.net and mangaindo.net it hasn't been updated for a long time and almost all the images are damaged

for komikindo.web.id and komikindo.co it's different

[2019-04-05 19:26] riedhows commented on #31
another site - mangakita.net can''t fetch chapter from list

[2019-04-05 19:29] SDXC opened #37 "Project "Lualize""
One of my main targets since I forked this project is to port all Pascal website modules to Lua modules.

Saying that: @AbidZakaria are you interested to port some of these modules to Lua? Please let me know and if you are interested I will post the instructions on how we will doing that.

[2019-04-05 19:32] riedhows commented on #31
yes, for some problems in the old repo has been resolved in the latest repo

thank you

[2019-04-05 19:37] SDXC commented on #31
@riedhows I think we let mangakid.net and mangaindo.net stay until the websites really go offline. It doesn't really hurt and there is always that single soul out there who wants to fetch something from such sites ;)

komikindo.web.id will get it's own entry (like MangaPark and MangaParkOrg).

mangakita.net will be fixed.

[2019-04-05 21:01] ChocolateOtaku opened #38 "BacaManga - not working"
The "Update Manga" command is not working, list is still empty after update...

[2019-04-05 21:16] consistentescape opened #39 "TonariNoYoungJump- Chapters downloaded have black bars"
I have been trying to download One Punch Man chapters from tonarinoyj.jp but the images get cropped with a black bar at the bottom for some reason. Could this be fixed?

Here's a sample image https://imgur.com/a/5mPdM37

[2019-04-05 23:06] MIRVOUS commented on #37
so, can you post the instructions.
or it is not for the public

[2019-04-05 23:09] MIRVOUS commented on #38
i think it is still work

![fmd 8](https://user-images.githubusercontent.com/45929526/55660844-8a18c900-5832-11e9-9b77-88453990e90a.PNG)

[2019-04-05 23:19] MIRVOUS commented on #38
![fmd9](https://user-images.githubusercontent.com/45929526/55661077-ed572b00-5833-11e9-9fe6-640e461f5261.PNG)

[2019-04-05 23:20] MIRVOUS commented on #38
![fmd10](https://user-images.githubusercontent.com/45929526/55661112-1d9ec980-5834-11e9-8331-c2fe6bccca7a.PNG)

[2019-04-05 23:24] ChocolateOtaku commented on #38
Maybe region locked?

![image](https://user-images.githubusercontent.com/38581381/55661197-abfe5580-580a-11e9-8293-33dcaf382bfd.png)

[2019-04-06 00:22] AbidZakaria commented on #37
I'm interested

[2019-04-06 01:52] mastafrooper commented on #8
Awesome. No hurry though as this is something normal people wont deal with ;D

[2019-04-06 03:38] Tmp341 commented on #38
I guess there are some region locks for some certain sites, because i can't reach them too.

[2019-04-06 04:03] Tmp341 commented on #37
``8muses`` seems an adult site, but ``translate.webtoons.com`` seems like it is a multi-language translation project.

[2019-04-06 04:23] AbidZakaria commented on #31
@SDXC i will be fixed mangakita.net

[2019-04-06 04:24] AbidZakaria commented on #31
![image](https://user-images.githubusercontent.com/19544118/55664803-856a0a00-585e-11e9-85bd-b1a2325ef0ae.png)

westmanga work again

[2019-04-06 05:40] molitar commented on #2
chko does not work with Firefox that is why I asked for Firefox instructions. It's a pain to have to open up Google Chrome and log into site everytime.

[2019-04-06 06:19] ChocolateOtaku commented on #38
I can also reach the website, but not the manga list:
https://bacamanga.web.id/manga

[2019-04-06 06:59] Tmp341 commented on #38
Let me check that again from FMD.

[2019-04-06 07:08] Tmp341 commented on #2
I can get those codes from Firefox. What i meant is, is it still needed to get?

[2019-04-06 07:31] AbidZakaria commented on #38
![Screenshot_20190406-143028](https://user-images.githubusercontent.com/19544118/55666397-ac353a00-5878-11e9-9d31-01f137a3fc7d.png)

It's work

[2019-04-06 07:36] Tmp341 commented on #38
Website works, and i can reach it on browser. but i can't download mangalist on FMD.

[2019-04-06 08:14] SDXC commented on #37
@AbidZakaria I will build a special version of fmd.exe where all these Pascal modules are excluded. So you can just start creating Lua scripts. You don't actually have to understand Pascal to get hints on how the algorithms work. So you can still check the Pascal modules as a reference:
https://github.com/fmd-project-team/FMD/tree/master/baseunits/modules

Please don't commit/pull request these ne

[2019-04-06 08:29] SDXC commented on #38
The manga list and the image filelinks are region locked. I can navigate through the mangas and open chapters, but the images won't load.

Can someone who isn't locked out make a final test if FMD works with that website?
If it works, then this issue should be closed, as it is not an FMD thing anymore.

[2019-04-06 08:38] PanzerIVF opened #41 "Error ar line 1, Pos -9217184:Unexpected EOF encountered"
I was trying to open FMD and I go this error

![fmd_2019-04-06_12-25-44](https://user-images.githubusercontent.com/22032292/55667079-f1aa3500-5881-11e9-92cb-43f09146f010.png)

Can someone help me what the problem?? And what solution that I need to do?

[2019-04-06 10:41] TehBotolSosro commented on #25
yes there's a gap in the filename, (eg, 01, 02,04,09), yeah a better error handling sound good, i tried using charles proxy yesterday to see what went wrong but sadly in that session everything downloaded fine, seem something to do with multiple download

[2019-04-06 11:08] riedhows commented on #38
bacamanga work fine
![Untitled](https://user-images.githubusercontent.com/35851136/55668637-db5aa400-5896-11e9-97bd-f7c75c215cc9.png)

[2019-04-06 11:18] SDXC commented on #39
The problem is the image scrambler. Normally we have a 4 x 4 set of scrambling, but the images of One Punch Man have an additional line at the end, making it 4 x 5.

![10834108156646061931-586339e02260737d2d7ae8454e8e8af0](https://user-images.githubusercontent.com/5290260/55668769-78551700-586e-11e9-8521-37fb6c45b3af.jpg)

I have to check if this will happen for all images or if this is only occas

[2019-04-06 11:26] SDXC commented on #38
Thanks for testing this.
@ChocolateOtaku I'll close this ticket. You can re-open this issue if there's a need for that.

[2019-04-06 11:26] #38 closed

[2019-04-06 11:34] riedhows commented on #31
ryoukai capt. :D

[2019-04-06 11:34] riedhows commented on #31
same with me , all indonesian site works

[2019-04-06 11:39] consistentescape commented on #39
Thanks for the detailed reply. I can't really code for shit but if you need any other help in testing stuff out, I'll be happy to help.

[2019-04-06 14:19] KucingCyber opened #42 "Website and URL changed [HeavenManga]"
i have a problem here,
it seems heaven manga move their site from [heavenmanga.ca](url) to [heavenmanga.vip](url)
can you fix this?
thank you in advance & sorry for my bad English,

[2019-04-06 14:45] azirio commented on #2
Your "chko" values and the "key" value on your example didn't match or how did you find the miss digits?

[2019-04-06 15:44] AbidZakaria commented on #42
Ok, i Will fix it

[2019-04-06 17:47] Owyn opened #44 "Error when trying to update FMD [0.9.160.0 -> 0.9.161.0]"
![изображение](https://user-images.githubusercontent.com/1309656/55673197-34cdcd80-58ad-11e9-8e30-df9b1f7082bf.png)

[2019-04-06 17:48] AbidZakaria commented on #44
Using manual update

[2019-04-06 17:52] Tmp341 commented on #44
There was a problem with the updater, you cant update from ``0.9.160.0`` to ``0.9.161.0``. Download it manually.

[2019-04-06 17:54] AbidZakaria commented on #41
Try fresh install
Please read
https://github.com/fmd-project-team/FMD/wiki#fresh-install

[2019-04-06 18:13] Tmp341 commented on #2
I've just tried what i've said, and they are working (console codes).

[2019-04-06 18:16] SDXC commented on #37
@AbidZakaria x64 is okay with you, right?

[fmd_0.9.161.0_Win64-withoutPascalModules.zip](https://github.com/fmd-project-team/FMD/files/3050784/fmd_0.9.161.0_Win64-withoutPascalModules.zip)

Please don't forget to use this version separately.

[2019-04-06 18:27] Clydefrosch22 opened #46 "Favorite check doesn't work anymore [ReadComicsOnline]"
Already tried switching repositories and updating, still red bar and showing current chapter as 0.
Reading online works fine.

[2019-04-06 18:28] AbidZakaria commented on #37
@SDXC is okay

[2019-04-06 18:29] AbidZakaria commented on #46
Please send a screenshot for your problem

[2019-04-06 18:50] Clydefrosch22 commented on #46
https://imgur.com/BdMFXcH

[2019-04-06 19:08] krakerz commented on #2
for kissmanga i noticed that you only need (i'm too lazy to test to remove 1 or more of those cookies below)
__cfduid
__PPU_SESSION_1_1616193_false
cf_clearance
BB_plg
bbl

cookies, i tested it first in Opera, yet i can't manage to get the BB series cookies and PPU session, but when i switched to chrome, i got all of it and after adding them to the cookies section, it's works fine again :)

[2019-04-06 19:32] SDXC commented on #2
This issue is getting out of hand. Too much different talks, too much people and no feedback from the actual issuer. Overall the websites mentioned in this ticket work (even though with a bit of tweaking).

That's why I close this issue now. If you keep having trouble with KissManga, either open a new issue ONLY for KissManga or join the Discord server and ask in the support channel.

[2019-04-06 19:32] #2 closed

[2019-04-06 19:47] l-l-l-l-l-l opened #47 "Website doesn't work again [LHTranslation]"
The site has not changed urls, but the chapter list does not appear, the favorites does not work and directly pasting a URL gives a N/A error.

[2019-04-06 19:49] SDXC commented on #47
Did you already repeated these steps?:
https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

[2019-04-06 19:56] SDXC commented on #30
I decided to not implement this feature. Sorry.

[2019-04-06 19:56] #30 closed

[2019-04-06 22:21] KucingCyber commented on #42
Thank you very much

[2019-04-06 22:23] Clydefrosch22 commented on #46
I guess I chose the title kind of badly, sorry.
Note that it's not just the favorite check that doesn't work, but manga info tab won't load any info, image or chapter list. Basically, readcomicsonline is broken atm.

[2019-04-06 23:34] ZodiaBruh opened #48 "Download speed going to 0bps [MangaRock]"
I downloaded one manga from MangaRock and it went fine.
But now trying to download others and the download speed is going to 0bps every 2 seconds or so, making it nearly impossible to download.

I tried reducing the connection timeout to 5s and elevating the number of retries to 50 as I saw someone suggesting, but didn't work.

Any ideas anyone? Thanks in advance

[2019-04-07 02:46] Von07 commented on #48
Lower the "Number of Downloaded task' and "Number of Downloaded Files"

[2019-04-07 03:22] ZodiaBruh commented on #48
Sadly both are at 1 already.

[2019-04-07 03:25] PanzerIVF commented on #41
Thanks!

[2019-04-07 03:25] #41 closed

[2019-04-07 03:38] Tmp341 commented on #47
I can check manga list, it even started downloading.

[2019-04-07 03:42] Tmp341 commented on #48
It is working for me.

[2019-04-07 04:57] AbidZakaria commented on #46
ReadComicsOnline adding Cloudflare in website
youmust read this wiki https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation
for your problem

[2019-04-07 05:00] AbidZakaria commented on #46
![image](https://user-images.githubusercontent.com/19544118/55678945-a6992c00-592c-11e9-974e-34dde24c3250.png)

![image](https://user-images.githubusercontent.com/19544118/55678936-76ea2400-592c-11e9-9267-08306ed03f2d.png)

![image](https://user-images.githubusercontent.com/19544118/55678931-5a4dec00-592c-11e9-87ae-0845aa5127c4.png)

same issue with https://github.com/fmd-project-team/FMD/issues/2

[2019-04-07 07:42] Clydefrosch22 commented on #46
I actually did try and follow that workaround before, but without success.
It's still doing the same :/

These are the cookie strings i got.
I will try a few more times, but am i right to assume that even if i got this to work, I'd have to do this again every time? Since cookies aren't very persistent and such?

bbbi=18b6b0c6-a660-4bba-80e1-4f9d515b7601;
__cfduid=d117c59da441c49491d79e7119560925f1

[2019-04-07 09:41] SDXC commented on #42
Merged the fix from @AbidZakaria

@KucingCyber Please start FMD, update the lua files (dialog should prompt) and try again with HeavenManga. Give us feedback.

[2019-04-07 10:00] KucingCyber commented on #42
It's functioned properly now, thank you very much

[2019-04-07 10:16] SDXC commented on #31
Fixed MangaKita.

[2019-04-07 10:22] Tmp341 commented on #31
Is there any one still not fixed?

[2019-04-07 10:24] SDXC commented on #31
komikindo.web.id has to be added. I'm on it right now.

[2019-04-07 10:39] SDXC commented on #31
komikindo.web.id has been added and works.

Issue will be closed now.

[2019-04-07 10:39] #31 closed

[2019-04-07 10:48] Tmp341 commented on #46
You can access website via browser right?

I think your log might give us some info.

[2019-04-07 10:58] #42 closed

[2019-04-07 11:32] l-l-l-l-l-l commented on #47
I have just tried the workaround. I have done everything, checked, rechecked and still nothing. I don't get the warning pop-up shown there, it's just blank.

[2019-04-07 11:39] Slasar41 opened #51 "Is the Demographic tag available through API? [MangaDex]"
Is the genre from demographic info in the website already implemented in MangaDex API?
https://github.com/riderkick/FMD/issues/1615
![image](https://user-images.githubusercontent.com/28888646/55682415-41a9fa00-595d-11e9-9ca6-3df4f9c056c4.png)

[2019-04-07 13:02] Tmp341 commented on #47
Send fmd's log entry please.

[2019-04-07 13:18] SDXC commented on #28
Implemented. It also takes your current filter into consideration. See gif to check how it works:

![(Un)SelectAll-Feature](https://user-images.githubusercontent.com/5290260/55684136-41ebca80-5948-11e9-8583-a0c07a8392bb.gif)

[2019-04-07 13:22] Tmp341 commented on #28
Is it possible to only check under 1 title? For example, we chose ``English``, will it only check English sites?

[2019-04-07 13:25] SDXC commented on #51
It's still not in the API, but MangaDex has a pending task to re-implement the API. Until then, they probably won't make many more changes to the current API.

[2019-04-07 13:25] #51 closed

[2019-04-07 13:49] Slasar41 opened #52 "Small visual fixes (control alignment, exiting behavior)"
When exiting FMD while the window is set to maximize mode, it will change back to the last position & size window for a second and then disappear.

Also, can this section to be align by default?
![image](https://user-images.githubusercontent.com/28888646/55684550-3fa06500-5976-11e9-9d6c-4732ead67b1b.png)

[2019-04-07 13:53] SDXC commented on #28
@Tmp341 now it does ;)

![(Un)SelectAll-Feature-2](https://user-images.githubusercontent.com/5290260/55684608-2d5e0100-594d-11e9-9850-7fd13d4e8322.gif)

[2019-04-07 14:06] SDXC commented on #52
The alignment thingy should be fixed fast.

The exiting behavior may be a little bit more complex, depending on what's executed in the exit sourcecode. If it's too much work to change that behavior, I won't change it.

[2019-04-07 14:08] l-l-l-l-l-l commented on #47
[fmd.log](https://github.com/fmd-project-team/FMD/files/3051600/fmd.log)

[2019-04-07 14:16] l-l-l-l-l-l commented on #47
[fmd.log](https://github.com/fmd-project-team/FMD/files/3051610/fmd.log)
Correct one this time.

[2019-04-07 14:21] Tmp341 commented on #47
Whoops, my bad. Please try sending it after you try to download from LHT.

[2019-04-07 14:27] JokoeSukri opened #53 "Chapter numbering doesn't work [Boredom Society]"
Chapter numbering doesn't appear, only String format

![Screenshot_14](https://user-images.githubusercontent.com/32964994/55685000-74b7b200-598c-11e9-8bba-c88c67fb6dc1.jpg)

Because of This issue, I need to Numbering the folder manually

[2019-04-07 14:31] l-l-l-l-l-l commented on #47
How do I do to make a download task if I cannot access the chapter list?

[2019-04-07 14:40] SDXC commented on #47
Something strange I found in your log:

16:10:16:953 ERROR: ...\Jorge\Desktop\5E\fmd_0.9.69.0_Win64\lua\modules\dm5.lua:7: unexpected symbol near '<'
16:10:17:110 ERROR: ...e\Desktop\5E\fmd_0.9.69.0_Win64\lua\modules\jsunpack.lua:7: unexpected symbol near '<'
16:10:17:134 ERROR: ...e\Desktop\5E\fmd_0.9.69.0_Win64\lua\modules\lzstring.lua:7: unexpected symbol near '<'

at least jsunpack is script t

[2019-04-07 14:45] Tmp341 commented on #47
You can just copy a lht link and past in FMD.

[2019-04-07 14:48] Tmp341 commented on #53
Website seperated chapter numbers it seems.

[2019-04-07 15:49] SDXC commented on #53
Fixed it.

[2019-04-07 15:49] #53 closed

[2019-04-07 16:07] l-l-l-l-l-l commented on #47
Copying a link results in a N/A error.
I tried modifying the download.db to add a new download. The first thing I found was that the archive was a bit misshapen, with a couple of duplicates and a couple of half-deleted entries. After tidying it, I added the download and tried again, first as is, then deleting the lua directory and redownloading it. These are the resulting logs:
[fmd-log-dl.log](ht

[2019-04-07 16:09] l-l-l-l-l-l commented on #47
Wait, that somehow erased the sites from my list, as well as the workarounds.

[2019-04-07 16:14] l-l-l-l-l-l commented on #47
New log with the workaround set again:
[fmd.log](https://github.com/fmd-project-team/FMD/files/3051716/fmd.log)

[2019-04-07 17:31] aelbuz opened #54 "Cannot download all chapters [Manga-Tr]"
Hi! I opened this issue 2 weeks ago on project's old page, I want to open here too.
Old link: https://github.com/riderkick/FMD/issues/1710

I tried to download chapters from manga-tr.com but the site uses Ajax for changing chapter list page.

In example: https://manga-tr.com/manga-kaguya-sama-wa-kokurasetai-tensai-tachi-no-renai-zunousen.html

Manga page contains 3 pages for listing all chapters a

[2019-04-07 17:32] SDXC commented on #52
Free Manga Downloader 0.9.162.0 has been released:
https://github.com/fmd-project-team/FMD/releases/tag/0.9.162.0

Issue will be closed.

[2019-04-07 17:32] #52 closed

[2019-04-07 17:33] SDXC commented on #28
Free Manga Downloader 0.9.162.0 has been released:
https://github.com/fmd-project-team/FMD/releases/tag/0.9.162.0

Issue will be closed.

[2019-04-07 17:33] #28 closed

[2019-04-07 17:33] SDXC commented on #17
Free Manga Downloader 0.9.162.0 has been released:
https://github.com/fmd-project-team/FMD/releases/tag/0.9.162.0

Issue will be closed.

[2019-04-07 17:33] #17 closed

[2019-04-07 17:33] SDXC commented on #12
Free Manga Downloader 0.9.162.0 has been released:
https://github.com/fmd-project-team/FMD/releases/tag/0.9.162.0

Issue will be closed.

[2019-04-07 17:33] #12 closed

[2019-04-07 17:35] Tmp341 commented on #47
You can open LHT on browser right?

New fmd is out (v0.9.162.0), download it and do a fresh install:

https://github.com/fmd-project-team/FMD/wiki#fresh-install

[2019-04-07 17:44] Tmp341 commented on #47
Im trying something, please wait a little.

[2019-04-07 17:54] molitar opened #55 "Discord Server invite expired"
Unable to join Discord server as the invite is expired.

[2019-04-07 17:56] Tmp341 commented on #55
https://discord.gg/F8datrf

[2019-04-07 18:08] SDXC commented on #55
I created a permanent invitation link. Didn't know I had to explicitly set that.
https://discord.gg/cXKKgw3

[2019-04-07 18:10] Tmp341 commented on #55
Then you can remove my inv. 😃

[2019-04-07 19:16] ElectroShade opened #57 "Add support for website [WebtoonsDiscover]"
Could Webtoons Discover be added as a new site to FMD?  https://www.webtoons.com/en/challenge

Its a sub-site of Webtoons (http://www.webtoons.com/en) which is already supported. It contains self-published comics that may eventually get picked up to be published on the main Webtoons site.

Since all the comic pages are formatted similarly to the main Webtoons site you can currently manually put in

[2019-04-07 19:35] SDXC commented on #57
Just some note for myself:
Webtoons is currently a Pascal module. It would be the best to migrate the module to Lua first and add the new website afterwards.

[2019-04-07 20:31] anfgomezmo commented on #37
I will start with some Lua modules, if I have any advance, I will let you know

[2019-04-07 22:45] JokoeSukri opened #58 "Website doesn't work anymore [Fallen Angel Scans]"
I found This Problem After Update FMD 0.9.162.0
![Screenshot_22](https://user-images.githubusercontent.com/32964994/55690888-3cd35d80-59d2-11e9-9a4f-370d1856842f.jpg)

[2019-04-08 00:17] gooreat opened #59 "[MangaDex] Issue with checking for new chapters, view manga info and dragging new title to Favorites tab"
Not sure if it's just me, but some reason none of the aforementioned features are working after updating FMD to the latest version (0.9.162.0).

Thanks!

[2019-04-08 00:21] l-l-l-l-l-l commented on #47
Did a clean installation and now it does work.
The log, just in case:
[fmd.log](https://github.com/fmd-project-team/FMD/files/3052221/fmd.log)

[2019-04-08 03:15] thorio2002 opened #60 "Website changed domain [LeoManga]"
Leo manga changed its domain from ".com" to ".xyz" and can no longer be downloaded.

[2019-04-08 05:03] Tmp341 commented on #47
You can delete that line, it was for debugging.

[2019-04-08 05:05] #47 closed

[2019-04-08 05:06] Tmp341 commented on #59
Can you give use more info?

- Can you reach mangadex via browser?
- Is your fmd downloading normally?

[2019-04-08 05:07] Tmp341 commented on #58
Let me test it for myself.

[2019-04-08 06:34] SDXC commented on #59
I'm pretty sure that MangaDex was in mitigation mode.

[2019-04-08 06:35] gooreat commented on #59
Yep. Had no trouble accessing it.

I'm sure it's working normally, since I can download/check new chapters from other sites (besides the problematic ones). Again, this is on the latest version, 0.9.162.0.

As I've mentioned it on the thread title. I can't:
* Check for new chapters via Favorites tab (always get the default 'red' mark color)
* View manga info (always shows blank result, N/A etc)
* L

[2019-04-08 07:02] AbidZakaria commented on #59
mangadex adding cloudfire in website
please read this wiki https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

same issue https://github.com/fmd-project-team/FMD/issues/2

![image](https://user-images.githubusercontent.com/19544118/55704555-9786ac80-5a06-11e9-8770-0e97f15994bd.png)

![image](https://user-images.githubusercontent.com/19544118/55704622-ca30a500-5a06-11e9-81d9-

[2019-04-08 07:12] AbidZakaria commented on #58
problem with cloudflare

after adding cokkie and Useragent
![image](https://user-images.githubusercontent.com/19544118/55705119-3c55b980-5a08-11e9-8e28-e7c343535782.png)

[2019-04-08 07:21] AbidZakaria opened #61 "those of you who have problems with cloudflare please try this"
look for your website that wants to be filled,
check and fill in the form as it was drawn
![image](https://user-images.githubusercontent.com/19544118/55705474-1250c700-5a09-11e9-8646-25a2cb1f85b9.png)

and at the bottom as drawn
![image](https://user-images.githubusercontent.com/19544118/55705542-357b7680-5a09-11e9-9406-6af85b577cf6.png)

fill as I wrote
==================
MangaDex

cookie
-------

[2019-04-08 07:27] AbidZakaria commented on #58
try this https://github.com/fmd-project-team/FMD/issues/61

[2019-04-08 07:27] AbidZakaria commented on #59
try thi https://github.com/fmd-project-team/FMD/issues/61

[2019-04-08 07:28] AbidZakaria commented on #46
try this https://github.com/fmd-project-team/FMD/issues/61

[2019-04-08 07:28] SDXC commented on #59
MangaDex is getting bigger and bigger and that is something most aggregator sites don't like because many of their own userbase migrate to MD. So I'm not surprised, that MD is getting targeted by many DDoS attacks.

Good thing: Mitigation works pretty well if you get an active session. It's like nothing is going on. FMD is only a bit unflexible right now when it comes to Cloudflare. It's also my p

[2019-04-08 07:40] Tmp341 commented on #61
I still can't get mangalist.

[2019-04-08 07:42] AbidZakaria commented on #61
what manga?

[2019-04-08 07:43] Tmp341 commented on #61
All of them. I get manga name, manga info, but not the list or cover.

[2019-04-08 07:48] AbidZakaria commented on #61
for fallenmanga
try this

cookie
__cfduid=d11ad75aab7a35a1a98969305b25819bd1554707394; XSRF-TOKEN=eyJpdiI6InZMNUdGZ3JGZHpDNnB0cTluVldXeHc9PSIsInZhbHVlIjoiaElaQUZpNnZjNkJiRkxJZmxOUHo1b0IzcDhRRHI4K3Nsb0ZrZHRJVFdnTGpkOXBZM2hwSmxvMVNONTR5QzlBQ1duMXkrRlRQVDRwVUxkN1M3Wm5vVFE9PSIsIm1hYyI6ImNkN2NjNDQ5MjdmNWM1YjI4YzBhNWRiMWVjY2M0MzJjNmVkZjRlMjQ1YmJhZGY2Yjg2OTJlODA3OGY5NDQ4NzAifQ%3D%3D; laravel_session=eyJp

[2019-04-08 07:50] AbidZakaria commented on #61
there is something hidden in fallen manga

[2019-04-08 07:56] AbidZakaria commented on #61
@Tmp341 it's work?

[2019-04-08 07:57] Slasar41 commented on #61
Different IP got different cookies.
I try yours and not working, but when I got it myself it's working.
![image](https://user-images.githubusercontent.com/28888646/55707760-9194c980-5a0e-11e9-87b0-817e285765ac.png)

[2019-04-08 07:59] AbidZakaria commented on #61
ok
just trying and
thank you for trying

and delete this issue

[2019-04-08 08:03] #61 closed

[2019-04-08 08:40] Tmp341 commented on #58
Ok, now i think Firefox doesn't show all necessary cookie infos. ı've made it work like this:

- Installed Opera.
- Opened FallenAngels, opened a manga.
- **Ctrl + Shift + I** for Developer tools -> Network tab -> Ctrl + R or F5
- Tap on something, like first thing on the list.
- Be sure you're on ``Headers`` tab. Then scroll down until you see **cache-control:** and **cookie:**
- Copy the whole c

[2019-04-08 09:01] Tmp341 commented on #58
For firefox:

- Opened FallenAngels, opened a manga.
- **F12** for Developer tools -> Network tab -> F5
- Tap on something, like first thing on the list.
- Be sure you're on ``Cookies`` tab. Then scroll down, ``Request Cookies`` (or similar in English or in your language``
- Copy and paste entries in FMD cookie, like this :

`__cfduid=xxxxxxxxxxxxxxxxxxxxx;`
`cf_clearance=xxxxxxxxxxxxxx;`
`XSRF-TO

[2019-04-08 09:06] Tmp341 commented on #59
@gooreat Try the workaround I've explained in #58

I've explained for 2 browsers, Firefox and Opera. Try using similar workaround for Mangadex, withour and/or with your user (account) info.

[2019-04-08 09:32] rs3mk commented on #60
It's not leomanga, it's another scraping site

[2019-04-08 09:36] JokoeSukri commented on #58
Yes, I always check every webside I have visited if it has cloudfare,
I use cookies on advanced modules, but still no avail,
After struggle it out, It seems, I got problem with my service provider in my country,
Because, it works again after I use with Proxy
![Screenshot_23](https://user-images.githubusercontent.com/32964994/55714147-0bd44680-5a2d-11e9-8abb-c057e2841ac8.jpg)
![Screenshot_24](https

[2019-04-08 09:37] JokoeSukri commented on #58
Yep, The problem solved. Thank you

[2019-04-08 09:56] rs3mk opened #62 "Add support for website [MangaPlus]"
supports multi-languages: https://mangaplus.shueisha.co.jp/updates

thanks

[2019-04-08 11:18] gooreat commented on #59
Well. well. would you look at that, MD is working again. Just when I'm about to try the above workaround lol
@SDXC I see. Guess I'll just wait for awhile if it does happen again

@AbidZakaria @Tmp341 Bookmarked the workaround. Thanks :D

Closing this since it has been resolved.

[2019-04-08 11:18] #59 closed

[2019-04-08 12:28] ImFeyn opened #65 "Export links in the download list as a text file"
I am sorry if this has been asked in the old git but I have not been able to find it so just a quick question, is it possible to export the links in my download list as a clean textfile?
The only links I have been able to find are in the files in the works folder but with some symbols and missing dots instead of a clean address eg: Ь/%nhentai/g/######.

[2019-04-08 12:33] Ethanaelle opened #66 "Website doesn't work [Toonkor]"
Hi ! Thank you for taking over this project !
Toonkor doesn't work anymore, its changed its domain from ".co" to ".pink".

[2019-04-08 12:41] rs3mk opened #67 "Add website support [MangaToon]"
Site of manhuas: https://mangatoon.mobi [multi language]

[2019-04-08 12:46] AbidZakaria commented on #66
Please sent screenshot

[2019-04-08 13:33] Tmp341 commented on #65
You can open and extract links via db browsers, like DB Browser for SQLite.

[2019-04-08 15:55] Ethanaelle commented on #66
![image](https://user-images.githubusercontent.com/48924418/55738433-68ccfe00-5a27-11e9-969d-ad0511c79b85.png)
 Thank you ~!

[2019-04-08 15:57] AbidZakaria opened #68 "Help for Lua script [MangaToon] #just_one_bug"
[Mangatoon Chapter not sorted.zip](https://github.com/fmd-project-team/FMD/files/3057819/Mangatoon.Chapter.not.sorted.zip)

update 2019/04/09

[2019-04-08 16:38] Clydefrosch22 commented on #46
Ok, so it seems to be working after all, I guess I was just too slow in copying the strings and putting them in the correct format, so they were already invalid when i tried downloading something.

[2019-04-08 19:15] SDXC commented on #66
Script should be fixed now. Please try again and let us know if it works for you.

[2019-04-08 19:17] SDXC commented on #65
It's not a built-in feature yet, but I plan to do that, and for the favorites as well.

[2019-04-08 19:19] Ethanaelle commented on #66
It's working ! Thank you !

[2019-04-08 19:20] #58 closed

[2019-04-08 19:21] SDXC commented on #55
As this invite works and is infinite now, I'll close this issue.

[2019-04-08 19:21] #55 closed

[2019-04-08 19:22] Ethanaelle commented on #66
It's working ! Thank you !!

[2019-04-08 19:23] SDXC commented on #66
Thank @AbidZakaria for that. ^^

[2019-04-08 19:23] #66 closed

[2019-04-08 19:29] SDXC commented on #60
Just to make sure: leomanga.com is offline and leomanga.xyz is a new aggregator website that just took on the name or it's the same guys but with a new domain AND website?

[2019-04-08 19:33] SDXC commented on #46
Thanks for the feedback. I'll close this issue then.

[2019-04-08 19:33] #46 closed

[2019-04-08 19:34] SDXC commented on #44
@Owyn Were you able to do the manual update to 0.9.161.0 or even better to 0.9.162.0?

[2019-04-08 23:02] SalarG opened #70 "Can't get chapter list for some H-mangas [MangaPark]"
Hi there.
I had no problem with MangaPark this morning and I was using Latest version of FMD (0.9.161). this afternoon I updated FMD to (0.9.162) and after that MangaPark is not fetching any chapter list. It's like the time when we have issues with MangaPark before you fixed chapter download (Issue #9).

[2019-04-08 23:58] #44 closed

[2019-04-09 02:16] Sakurahime08 commented on #2
Thank you! @SDXC

[2019-04-09 06:00] megumixd opened #71 "Can't Download Mangas [TumangaOnline]"
hey i have some problems downloading mangas in tmo i dont know if is my computer or the page but i hope you can check the lua please i will appreciate it that thanks oh im using the new fmd

[2019-04-09 07:23] Tmp341 commented on #71
Have you tried this workaround?

https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

[2019-04-09 07:38] Tmp341 commented on #71
- Open TMO.
- **F12** for Developer tools -> Network tab -> F5 (Firefox)/ **Ctrl + Shift + I** for Developer tools -> Network tab -> Ctrl + R or F5 (Opera+Chrome)
- Tap on something, like first thing on the list.
- **Firefox** Be sure you're on ``Cookies`` tab. Then scroll down, ``Request Cookies`` (or similar in English or in your language)
**Opera and Chrome** Be sure you're on ``Headers`` tab.

[2019-04-09 07:38] AbidZakaria commented on #68
please see my chat on the discord @SDXC

[2019-04-09 07:41] Tmp341 commented on #70
Have you tried doing similar written in this workaround?

https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

[2019-04-09 07:45] AbidZakaria commented on #68
Lua mangatoon has been fixed all
But one bug : chapter list not sorted

[2019-04-09 07:53] rs3mk commented on #60
It's another site, leomanga.com is dead. On their facebook they do not mention a new page: https://www.facebook.com/leomanga.online

[2019-04-09 07:55] MIRVOUS opened #72 "can you add for multi language feature in websites options"
![fmd12](https://user-images.githubusercontent.com/45929526/55782860-675b0e80-5ad7-11e9-92ea-48be430f1c26.PNG)

[2019-04-09 07:56] MIRVOUS commented on #72
for multi language website manga maybe

[2019-04-09 07:56] MIRVOUS commented on #72
and thank for this
![fmd11](https://user-images.githubusercontent.com/45929526/55783016-b2752180-5ad7-11e9-8960-5eed10e9cd00.PNG)

[2019-04-09 08:10] MIRVOUS opened #73 "Can't download chapters [MangaYosh]"
![fmd13](https://user-images.githubusercontent.com/45929526/55783815-7f339200-5ad9-11e9-9f54-9a93bb85f916.PNG)
![fmd14](https://user-images.githubusercontent.com/45929526/55783836-865aa000-5ad9-11e9-829a-0e56be119ed7.PNG)
![fmd15](https://user-images.githubusercontent.com/45929526/55783837-86f33680-5ad9-11e9-8045-3d60e89d710a.PNG)

[2019-04-09 08:11] MIRVOUS commented on #73
it is only produces an empty folder

[2019-04-09 08:11] AbidZakaria commented on #73
give me a manga link that has nuances

[2019-04-09 08:33] rs3mk opened #74 "Mangadex: Multilanguage selected"
Hello.

Select more than 1 language at a time

![multimangadex](https://user-images.githubusercontent.com/19628943/55785528-35ff2600-5a78-11e9-9629-b8ad47a40766.png)

thanks

[2019-04-09 10:09] arbiter9605 opened #75 "Website changed URL [TheCatScans]"
Since now you are updating, its rather simple and minor addition too foolsslide module. Catscans moved to a new reader link where old link was reader.catscans and new one is reader2.catscans. So could add a line to that lua so their site works. I had it manually added for fmd 131 since it wasn't being updated. This way downloading from their reader works as well.

"AddWebsiteModule('TheCatScans2',

[2019-04-09 13:02] SalarG commented on #70
I tried to use a similar method, but it's not solving the problem and I found out that not all mangas are affected but a few ones did. I can still see most of the manga's chapter list, but when FMD tries to load chapter list for some of them, I get an empty list.

[2019-04-09 14:02] SDXC commented on #75
Did they change the url only? Then I'd rather change
`AddWebsiteModule('TheCatScans', 'https://reader.thecatscans.com', cat)`
to
`AddWebsiteModule('TheCatScans', 'https://reader2.thecatscans.com', cat)`
instead of making it TheCatScans2.

[2019-04-09 14:13] #65 closed

[2019-04-09 16:08] SDXC commented on #75
Script has been updated. I'll close this issue now. If anything's wrong, just re-open this issue.

[2019-04-09 16:08] #75 closed

[2019-04-09 16:58] SDXC commented on #73
Should be fixed now. I tested some manga titles and they all worked. I'll close this issue. If something's still off, please re-open this issue.

[2019-04-09 16:58] #73 closed

[2019-04-09 17:12] SalarG commented on #70
https://mangapark.me/manga/okirakugaki-higurashi-bokurano
https://mangapark.me/manga/gaki-ni-modotte-yarinaoshi
https://mangapark.me/manga/otaku-no-ore-o-baka-ni-shita-kusogaki-o-kankin-shikaeshi-sekkan

[2019-04-09 17:20] SDXC commented on #67
MangaToon has been added (found in English for now). Manga list will check for English, but on the Manga Info tab you also can add other languages.

I will look into the multi-language thing from the other issue.

[2019-04-09 17:20] SDXC commented on #68
Inverting was actually not needed. Removing it solved it.

[2019-04-09 17:21] #68 closed

[2019-04-09 17:34] SDXC commented on #70
I had to add a cookie to view hentai and now it works. If anything still doesn't work, please re-open this issue.

[2019-04-09 17:34] #70 closed

[2019-04-09 17:36] SDXC commented on #60
Okay, will be added as a new website then.

[2019-04-09 17:39] SDXC commented on #60
Note to myself: Old LeoManga is a Pascal module. Has to be removed. New LeoManga module will be in Lua.

[2019-04-09 17:58] Slasar41 opened #76 "Re-arrange the OK and Cancel button"
Could you re-arrange the OK and Cancel button to the same place for better consistency?
![image](https://user-images.githubusercontent.com/28888646/55823002-00ffdb80-5b2b-11e9-9ba6-028dd21978f4.png)

[2019-04-09 20:26] rs3mk commented on #67
Yes, works!!.

For multi-languages, it can be done as ninemanga (NinemangaIT, NinemangaPT, NinemangaES, etc)

[2019-04-09 20:32] SDXC commented on #67
I'll probably do that.

[2019-04-09 21:42] Geese1 opened #77 "Unable to download [PsychoPlay]"
Been trying to download from the scanlator website, Psycho Play, but the downloads keep failing. I can see the files available to download, but the downloads just don't go through.

I'm assuming it has something to do with Cloudflare, but I'm not sure how to get around the problem.

Any help would be appreciated.

[2019-04-09 21:45] SDXC commented on #77
Check this wiki page:
https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-PsychoPlay

[2019-04-09 21:47] Geese1 commented on #77
Thanks, was able to figure it out. I just used the __cfduid and cf_clearance values, along with the user agent, and got it to work. I kept thinking there should be more cookies to input, like on the MangaDex fix, but I only needed those two.

[2019-04-09 21:51] SDXC commented on #77
in most cases only the mentioned cookie settings are needed. Just to be sure we advise sometimes to use all cookie settings.

I'll close this issue then. Thanks for the feedback.

[2019-04-09 21:51] #77 closed

[2019-04-10 00:17] JokoeSukri opened #78 "Bug in "History's Yesterday" and add more "History" tree elements"
I feel there is a limit with History on FMD, until "Last Month" limit. I using FMD nearly 2 years, and reaching nearly manga 6000 titles, sometimes my memory is blur to recalling my old manga title and still remembering the date, So I need new history feature, but instead I found something regarding Bug, and adding a proposal to enhance "History"

### **- Bug :**
![Screenshot_28](https://user-imag

[2019-04-10 02:01] MIRVOUS commented on #72
okay. good luck and thanks

[2019-04-10 03:11] Von07 opened #80 "[Cloudflare] Problem with this Sites [TimelessLeaf] [Funmanga]"
**Problem:**
![Problem](https://user-images.githubusercontent.com/21298898/55848853-0425b680-5b81-11e9-9405-62d63db5b76b.png)

I tried following this https://github.com/fmd-project-team/FMD/issues/61 & https://github.com/fmd-project-team/FMD/issues/71  but still won't work..

Version	:	0.9.162.0

[2019-04-10 05:25] AbidZakaria commented on #80
Try https://github.com/fmd-project-team/FMD/issues/71

[2019-04-10 05:55] Von07 commented on #80
Still won't work

[2019-04-10 06:00] Tmp341 commented on #80
So, you can open those sites, but can't download even though you've added CF workaround?

[2019-04-10 06:04] Tmp341 commented on #80
I've done what i've explained in #71 for FunManga, and got the mangalist without a problem.

[2019-04-10 06:19] Von07 commented on #80
Yes

That's weird I can open funmanga and the chapter in websites but in FMD I can update the mangalist of funmanga but opening a manga it says N/A

while the TimelessLeaf some manga says N/A while the other manga can be open and downloaded.. it seems like the location has been change somehow..

[2019-04-10 06:25] Von07 commented on #80
Edit: WHAT HAVE I DONE!! I'm really sorry for this Issue it seems like I'm the one who cause this myself and I didn't notice that..
Problem is that I head to connection tab then I saw that my " Connection Timeouts was [1] " so I change it to [30] then after that it is fix now..

[2019-04-10 06:26] #80 closed

[2019-04-10 06:31] SDXC commented on #80
No problem. Thanks for your feedback.

[2019-04-10 08:10] MIRVOUS opened #81 "Can't download manga list from server with 32bit fmd on 64bit computer"
![fmd16](https://user-images.githubusercontent.com/45929526/55862394-91c5ce00-5ba2-11e9-8b77-258ac50f2e29.PNG)
![fmd17](https://user-images.githubusercontent.com/45929526/55862451-b02bc980-5ba2-11e9-9caf-f3ce549582cd.PNG)

[2019-04-10 08:12] MIRVOUS commented on #81
I tried all the lists and the results were the same

[2019-04-10 08:15] MIRVOUS commented on #81
I did it so I could move it to my laptop

[2019-04-10 08:15] MIRVOUS commented on #81
sorry wrong type

[2019-04-10 08:20] Tmp341 commented on #81
- Is your folder contains any Unicode character?
- Are you trying to launch from ``C:\`` drive?

[2019-04-10 08:31] MIRVOUS commented on #81
-  I don't know how to check it?

- no i'm from D:\ Drive

- default of windows

[2019-04-10 08:34] Tmp341 commented on #81
``D:\Program Files\Portable\Fmd`` this is my FMD folder. If i add ``ö``, like ``D:\Program Files\Portable\Fmdö``, it becomes buggy.

[2019-04-10 08:55] MIRVOUS commented on #81
yes i can't download anything from the server.
but i can download from "update all lists at once"

[2019-04-10 09:04] SDXC commented on #81
Please enable the log in FMD and retry. Post the log here afterwards.

[2019-04-10 09:10] MIRVOUS commented on #81
okk. thanks now is work.
that is the log

[fmd.log](https://github.com/fmd-project-team/FMD/files/3062970/fmd.log)

[2019-04-10 10:03] MIRVOUS opened #82 "Show rating in manga info tab"
![fmd18](https://user-images.githubusercontent.com/45929526/55870260-5fbc6800-5bb2-11e9-8962-f4176d698c72.PNG)
![fmd19](https://user-images.githubusercontent.com/45929526/55870261-6054fe80-5bb2-11e9-9f3e-1d1bb1c1670f.PNG)

maybe before or after "status:"

[2019-04-10 14:07] ZeroCool940711 opened #83 "Add support for website [TMOHentai]"
Spanish site with lot of Hentai Manga. Its made by the same people of [TuMangaOnline](https://tmofans.com/)

Url: https://tmohentai.com

[2019-04-10 14:42] MIRVOUS opened #84 "mangadex. the chapter list is not exist"
![fmd20](https://user-images.githubusercontent.com/45929526/55888403-7cb86180-5bd9-11e9-8439-3521672c655f.PNG)
![fmd21](https://user-images.githubusercontent.com/45929526/55888404-7cb86180-5bd9-11e9-8ac8-0f9d4a694673.PNG)

[2019-04-10 14:44] MIRVOUS commented on #84
I tried other manga but the results were the same

[2019-04-10 15:21] SDXC commented on #84
Do you have per chance any cookies enabled on FMD?
I tried your URL and it worked for me.

[2019-04-10 15:36] MIRVOUS commented on #84
how to enable cookies in FMD?

[2019-04-10 15:39] MIRVOUS commented on #84
![fmd22](https://user-images.githubusercontent.com/45929526/55892926-76c67e80-5be1-11e9-85a7-32dcaa4ffb59.PNG)

[2019-04-10 15:40] SDXC commented on #84
It's more the other way around: do you have the Cloudflare workaround still enabled in FMD?
Options->Websites->Advanced->MangaDex

If so, then disable it, apply and retry.

[2019-04-10 15:41] SDXC commented on #84
The manga page exists, but no chapters for Indonesian.

[2019-04-10 15:41] MIRVOUS commented on #84
![fmd23](https://user-images.githubusercontent.com/45929526/55893094-cdcc5380-5be1-11e9-8d81-f34fc0c23dbb.PNG)

[2019-04-10 15:44] MIRVOUS commented on #84
![fmd24](https://user-images.githubusercontent.com/45929526/55893215-09671d80-5be2-11e9-96b1-c40663de476a.PNG)

okay it work on english language!
but how to in indonesian language

[2019-04-10 15:45] MIRVOUS commented on #84
so how can it work in Indonesian language?

[2019-04-10 16:10] Tmp341 commented on #84
I guess FMD checks and shows only selected language, if available.

[2019-04-10 16:11] #81 closed

[2019-04-10 16:13] Tmp341 commented on #81
Since you've closed this, may i assume your problem fixed?

[2019-04-10 16:16] #29 closed

[2019-04-10 16:47] MIRVOUS opened #85 "Websites don't work anymore [KazeManga, Kiryuu]"
that is i tried "update manga list" and "download manga list from server"
![fmd](https://user-images.githubusercontent.com/45929526/55897213-4b945d00-5bea-11e9-812f-c3564a2da09a.PNG)
![fmd2](https://user-images.githubusercontent.com/45929526/55897214-4b945d00-5bea-11e9-80f4-e71169c39cad.PNG)

[2019-04-10 16:50] MIRVOUS commented on #85
and that is the websites in browser

![kazemanga](https://user-images.githubusercontent.com/45929526/55897707-37049480-5beb-11e9-900d-51940019e434.PNG)
![Uploading kiryuu.PNG…]()

[2019-04-10 16:51] MIRVOUS commented on #85
![kiryuu](https://user-images.githubusercontent.com/45929526/55897827-81861100-5beb-11e9-9c64-9a4f6c22bffa.PNG)

[2019-04-10 17:16] Tmp341 commented on #85
Have you tried workaround?

[2019-04-10 17:46] SDXC commented on #67
Multilanguage support is now implemented as well, thanks to @AbidZakaria

[2019-04-10 17:46] #67 closed

[2019-04-10 17:49] amit34521 opened #86 "Add support for website [WebnovelComics]"
Please add support for webnovel comics. User can login and download premium chapters as well.

[2019-04-10 17:52] MIRVOUS commented on #85
no.
I don't know how to fix it

[2019-04-10 18:13] SDXC commented on #85
No workaround needed. Kiryuu changed a small detail which I fixed right now.

KazeManga has changed to a MangaShiro like template. I'm on it right now.

[2019-04-10 18:14] bloodsign opened #87 "Download Fails [RawQQ]"
FDM can retrieve the chapters from RawQQ.com, however the download stops and fails.

I've tried the cloudflare work around, but i'm not sure it's working.

[2019-04-10 18:25] Tmp341 commented on #71
@megumixd IF the workaround I've explained works for you, please close this issue.

[2019-04-10 18:29] bloodsign commented on #87
I'm trying to download the latest raw chapter of Infection btw,
https://rawqq.com/manga-infection-raw.html
https://rawqq.com/read-infection-raw-chapter-133.html

[2019-04-10 18:39] SDXC commented on #85
Fixed and working.

[2019-04-10 18:39] #85 closed

[2019-04-10 19:39] rs3mk opened #88 "Add support for website [Coolmic]"
- [ ] Comics site in English and Japanese, only displayed on mobile: https://coolmic.me

it works from chrome activating mobile mode:

![coolmic](https://user-images.githubusercontent.com/19628943/55908118-372a7300-5b9e-11e9-99fc-2b41e4337682.png)

Thanks

[2019-04-10 22:12] MIRVOUS commented on #85
okay.now it work thanks.

[2019-04-10 22:28] MIRVOUS opened #89 "Add support for website [MeganeBuk]"
https://www.meganebuk.net

![fmd3](https://user-images.githubusercontent.com/45929526/55917707-94640a00-5c1a-11e9-9222-3a00fdc00111.PNG)
![fmd4](https://user-images.githubusercontent.com/45929526/55917708-94640a00-5c1a-11e9-82da-ee2c577480fc.PNG)

[2019-04-10 22:29] MIRVOUS commented on #89
download per volume in that site

[2019-04-10 22:49] ZeroCool940711 commented on #71
@Tmp341 Hi there, im having this problem on TuMangaOnline too, I've tried the workaround you mentioned before but nothing happened, I double-checked everything and I noticed that FMD can "see" the content on TuMangaOnline and it is getting the number of chapters and creating the folders for them but no content is been downloaded.

[2019-04-11 00:24] AbidZakaria commented on #89
Itu manga downloader bukan manga reader, FMD hanya bisa download dari manga reader,
Lagian server downloadnya dari server pihak ketiga bukan dari webnya sendiri,
So kalau menurut saya tidak bisa

[2019-04-11 00:26] Suddow opened #90 "Website doesn't work [Mangadex]"
I can load any manga through browser (chrome, opera, firefox), and the manga info and downloads were working last night.  Today neither work.  The only thing I changed between then and now was adding cookies and useragent settings to the fallenangels advanced settings, nothing else was changed.  I have tried disabling those settings just in case and dex still doesn't work.

All 3 browsers load thr

[2019-04-11 01:02] krakerz commented on #90
mine working again a while ago
grab the cookies from chrome + not logged
only need
__cfduid
cf_clearance
PHPSESSID

![2c6o1O](https://user-images.githubusercontent.com/8030983/55923542-317d6d80-5c30-11e9-989b-25564c4d3603.png)

[2019-04-11 03:32] AbidZakaria commented on #88
Premium comic

[2019-04-11 03:42] Tmp341 commented on #71
![sss1](https://user-images.githubusercontent.com/1683388/55929307-ab0f5e80-5c24-11e9-87e2-8cd278661af5.jpg)

I've just selected a random manga and downloaded. It looks like the workaround works.

[2019-04-11 03:57] Tmp341 commented on #87
I've just tried with CF workaround. It tries, but nothing gets downloaded. I can see the chapterlist though. It failed in the end.

Rawqq uses flickr?

06:54:20:105 VALUE: Loaded modules from Lhscans.lua = Lhscans, RawQQ, RawQV
06:54:47:325 WARNING: TTaskThread, checkforfinish failed=64/64 [RawQQ]"Infection" > "/read-infection-raw-chapter-1.html"
https://farm1.staticflickr.com/869/27828458918_434f

[2019-04-11 04:04] ZeroCool940711 commented on #71
@Tmp341 I have a question, can you add a small script on Python to FMD to bypass Cloudflare on TuMangaOnline and also other sites?
I've used [cfscrape](https://github.com/Anorov/cloudflare-scrape) on python to successfully bypass cloudflare many times and the problem we are having on FMD is that the websites are automatically blocking FMD and our IP sometimes from accessing the website, im not sur

[2019-04-11 04:06] ZeroCool940711 commented on #71
Also Cfscrape can return the whole content of the page if needed.

[2019-04-11 04:36] hypomaniak commented on #90
Same problem here, I can't get the CF workaround to work.

And I don't find any PHPSESSID in the cookies, be it from Firefox or Chrome, logged in or not.

[2019-04-11 04:39] krakerz commented on #90
i got no PHPSESSID too in opera
but when i try the chrome ones + this extension
https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg
i got this cookies

[2019-04-11 05:04] Tmp341 commented on #71
I don't know anything about coding. Let's ask @SDXC

[2019-04-11 05:25] ralvarador commented on #71
Pretty interesting...
I did this workaround but to mangadex, and it seem that have worked.
I copied all the cookies generated by the website (including the CF's), but I was using a different User Agent String ( 🤦‍♂️ ). Once I changed the User Agent String to the one from the web-browser used to get the cookies... it started to be able "see" the chapters.
BTW, I've set the "MaxConnectionLimit" to 1

[2019-04-11 05:43] ChocolateOtaku commented on #89
This is not an online reading website.
It already provides download links, which makes the usage of a manga downloader quite obsolete...

[2019-04-11 06:17] ChocolateOtaku opened #91 "Add support for website [MangaSoul]"
https://mangasoul.com

[2019-04-11 07:13] AbidZakaria commented on #37
Manga Webtoons are in progress and I'm trying on an issue https://github.com/fmd-project-team/FMD/issues/57

[2019-04-11 08:08] bloodsign commented on #87
Looking back at RawQQ, it seems like the images are stored into several servers(1,2,3)
From the latest chapter(chapter 133, page 1), the image uses this URL
https://baka.cdnimg.club/images/2019/04/05/94a0500c32928af0798ab81dcf7033a91.png
It's possible they changed server and the previous servers no longer hosts the previous chapters. As I can't seem to load chapter 1 even via browser.

[2019-04-11 10:58] amit34521 commented on #86
Also if the login feature is not possiblefor those who use Google or FB or Twitter as login options, the user can provide cookies to download the content

[2019-04-11 11:58] SDXC commented on #84
I'll check if the manga update list function could be reduced by language code, so it only looks for mangas that are available in the selected language.

[2019-04-11 12:01] SDXC commented on #86
@amit34521 I'll look into it. Regarding the premium thingy: Do you have a premium account, so you could test it afterwards?

[2019-04-11 12:06] SDXC commented on #89
There's still a possible need to support such sites as you can collectively download all these file instead of doing it manually. Some users also seem to use FMD as a kind of manga collection manager.

There are also some major pros in downloading archives instead of the images separately, which we should use if we get the chance. Support for that is planned.

[2019-04-11 12:40] amit34521 commented on #86
Had one. Premium will be soon stopped. another option is to allow unlocked comic chapters to be downloaded.

[2019-04-11 15:13] SDXC commented on #71
@ZeroCool940711 I'm currently trying to implement it directly in Pascal, but need a bit of time. Using an external solver would be a backup plan.

[2019-04-11 15:17] SDXC commented on #48
I'll close this issue for now. If you still have problems you can re-open the issue anytime.

[2019-04-11 15:17] #48 closed

[2019-04-11 17:11] bloodsign commented on #90
I had the same problem yesterday, but I managed to fix it using the CF work around.
I wasn't sure which cookies was necessary, so I grab it all
__cfduid
_ga
cf_clearance
mangadex_rememberme_token
mangadex_session

[2019-04-11 17:27] Slasar41 opened #92 "Problem with "Add to favorites""
The "Add to favorites" button not became greyed even if I already favorited it.
See the gif link
https://i.imgur.com/Nfoumyb.gifv

[2019-04-11 17:36] ChocolateOtaku opened #93 "Add support for 9anime and KissAnime"
It would be nice if FMD could also download anime episodes from one or both of the suggested websites.

Cloned from riderkick#1692

[2019-04-11 17:37] ChocolateOtaku commented on #89
I would really appreciate if you could also consider another format: videos
With this it would be possible to support download from anime websites #93

[2019-04-11 20:24] bloodsign commented on #92
I've managed to replicated the bug doing the following:
1. Go to Favorites Tab
2. Right-click any manga
3. Select [View manga info]

The [Add to favorites] button is enabled when it should be disabled/grayed out

[2019-04-11 20:44] rs3mk commented on #93
FAD = Free Anime Downloader

[2019-04-11 22:16] AlternativeZero commented on #90
I copied all the cookies over but it isn't working.

Mine only came with __cfduid, cf_clearance, mangadex_rememberme_token & mangadex_session.

[2019-04-11 23:11] AbidZakaria commented on #93
for what kissanime seems like it can be tried

[2019-04-11 23:16] Suddow commented on #90
I also tried all the cookies yesterday and today (I thought I'd give it a day just in case) and it doesn't work in either case.

[2019-04-11 23:20] krakerz commented on #90
well i'm using the mangadex_rememberme earlier but yesterday it won't work suddenly
and tried to try it in chrome, and found there is some new cookies that didn't present in my opera
and somehow by using it, it's works for my end

if you want to try it again, try other browser, IE / Edge / Safari / Chrome / Firefox / Opera / other
and compare the cookies, if you found any new cookies which didn't

[2019-04-11 23:35] Suddow commented on #90
I've tried many from different browsers already with no luck.  I'll keep trying though.

[2019-04-11 23:36] krakerz commented on #90
try login first, then logout, and check the cookies
i always do that to compare the cookies with each state and browser

[2019-04-11 23:44] Suddow commented on #90
I've tried different browsers, logged in, logged out, both before and after erasing cookies from the respective browser.  Only thing left to try is resetting my public IP I suppose, in case dex is somehow limiting me (though the site works in browser so who knows).

[2019-04-12 01:44] krakerz commented on #90
oh another note, incase you got some typo for the useragent
mine copied directly from the "about page" on the browser yet it won't work (it's happen on kissmanga for me, since for mangadex i already use it from ipleak ones)
then i try to redo it again, but this time from https://ipleak.net then grab it from "Detected informations" section, and put it in, and it's works fine now

so maybe (just in

[2019-04-12 04:35] AbidZakaria opened #94 "Help for Lua script [WebToons]"
![image](https://user-images.githubusercontent.com/19544118/56012306-1e44cd80-5d16-11e9-8390-e2f66e611018.png)
can't get all chapter

[code]
but I think this is correct
and I think it's the same as the Pascal version

[code]

this file please check @SDXC
for example link https://www.webtoons.com/id/drama/teenage-mom/list?title_no=1466

[WebToons.zip](https://github.com/fmd-project-team/FMD/files/3

[2019-04-12 04:36] AbidZakaria commented on #94
when it's done don't pull request
upload again in this issue

[2019-04-12 05:56] ChocolateOtaku commented on #94
Please use [fenced code blocks with syntax highlighting](https://help.github.com/en/articles/creating-and-highlighting-code-blocks#syntax-highlighting) instead of copy & pasted images when showing code...

[2019-04-12 06:07] arbiter9605 commented on #90
for me even if i double check, triple check user agent. On top of deleting cookie in browser then reloading the site to get a new one its always been hit but mostly miss.

[2019-04-12 06:35] hypomaniak commented on #90
Well, I finally got a solution to this situation:
as Suddow suggested, resetting the modem IP lifts the Mangadex restriction, at least temporarily.

I'm suspecting I get locked (from FMD, not in webbrowser) if I try updating all my favorites, but checking only the new ones who appear in the Follows page is OK.

[2019-04-12 06:51] MIRVOUS commented on #84
ok.thanks

[2019-04-12 06:56] AbidZakaria commented on #94
if you want @ChocolateOtaku,
you can also help too

[2019-04-12 07:14] Von07 opened #95 "Add Option to not go directly to Download Tab [Feature Request]"
Just as the title says, It would be  better if there's an option that will let you not directly go to Download Tab after you Click " Download " in Manga Info

Ex.
![Request](https://user-images.githubusercontent.com/21298898/56018740-82c35500-5d35-11e9-97a8-f77f84335d11.png)
After you click the Download it will directly go to " Downloads " Tab which is annoying sometimes if you bulk download alot

[2019-04-12 07:18] MIRVOUS commented on #81
sorry long reply.
yes. the problem is fixed

[2019-04-12 08:14] Slasar41 commented on #95
I think it's duplicated from this issue https://github.com/fmd-project-team/FMD/issues/27

[2019-04-12 08:39] Von07 commented on #95
ohh so it has been requested already.. I guess I need to close this one..

[2019-04-12 09:23] Tmp341 commented on #94
This is a debug code for Lua scripts. It will log all in the log file. Check if it would be helpful.

[2019-04-12 14:29] gfhghfghfh commented on #3
@Tmp341

Can l ask for config\luamodules.json  and config\base.ini
Do i need to keep them?

[2019-04-12 15:34] admiralmikan commented on #84
That's nice, since before that, I had to download from komikcast/westmanga with lower quality if I need to download indonesian TL

[2019-04-12 16:10] Tmp341 commented on #3
- ``Base.ini`` file is default in every FMD release package, and it contains infos for FMD (update etc).
- ``Luamodules.json`` file contains Lua modules' update url, what changed about them (changelog) etc. It will be created again. But if you wanna keep lua modules (for example, you've modified one), you should keep it, since this file will tell FMD that your modules are gone, needed to be downlo

[2019-04-12 16:20] gfhghfghfh commented on #3
I appreciate your message.

[2019-04-12 18:33] Suddow commented on #90
Interestingly, I tried it again today with all the cookie/user settings disabled and it works again.  I did try this yesterday (settings disabled), but suddenly it works today when it didn't yesterday.  I hadn't changed any settings since I last posted here but it just up and started to work again.  I didn't even have a chance to reset my IP.  Not sure if that helps narrow down the cause or not.

[2019-04-13 06:51] SDXC commented on #93
We won't add Anime websites to FMD.
We already have enough work with maintaining Manga websites and all the other requests.
Even if you only meant for one or two websites to be added, it won't stop there.

The new feature to download files other than images would probably allow us to download videos as well, but we won't add modules for these sites to FMD. Users are free to implement and share suc

[2019-04-13 06:51] #93 closed

[2019-04-13 06:54] SDXC commented on #95
Yes, that's a duplicate. I'll close this issue, so I don't lose sight of my tasks.
I am currently working on this, btw.

[2019-04-13 06:54] #95 closed

[2019-04-13 06:57] SDXC commented on #94
The loop is probably one run too short. I'll take a look today.

[2019-04-13 07:05] SDXC commented on #90
That was probably not really a problem with your IP, even if it seemed so the last time. The Cloudflare workaround has many openings for users to make some small mistakes here and there.

For now I will close this issue. Just re-open it, if you need help again.

[2019-04-13 07:05] #90 closed

[2019-04-13 07:17] SDXC commented on #76
Implemented. Wait for Release.

[2019-04-13 09:34] SDXC commented on #78
I fixed the "Yesterday" filter and added some more:

![DateFilters](https://user-images.githubusercontent.com/5290260/56077688-5e23b780-5ddf-11e9-8c28-49eb7211a9d2.png)

I won't implement the auto generating filters and folders. I still hope with the additional filters you're at least a bit happier than before.

[2019-04-13 09:42] MIRVOUS opened #96 "Chapter list missing some chapters [Mangaku]"
![fmd5](https://user-images.githubusercontent.com/45929526/56077835-19157a80-5e0b-11e9-8757-f7de494f3822.PNG)
![fmd6](https://user-images.githubusercontent.com/45929526/56077836-19ae1100-5e0b-11e9-88dd-34d2d7999ea4.PNG)

[2019-04-13 10:57] l-l-l-l-l-l opened #97 "Problems with website [LetItGoScans]"
I have noticed that my Favorites fail when trying to access LeItGoScans.
When I tried checking the chapters from the list or from a link, it also failed to connect. I have tried the workaround, but there are no cookies whatsoever, so no luck there.
I then tried making sure that the site had not been misplaced from the lua, but both the name and the url are correctly included inside FoOlSlide.lua,

[2019-04-13 11:04] Tmp341 commented on #97
They've removed some mangas from their reader. Have you checked that? because, none of mine were there.

[2019-04-13 11:23] l-l-l-l-l-l commented on #97
I checked aking the first valid url of their reader, which I can access just fine in my browser.

[2019-04-13 12:12] SDXC commented on #97
Please upload your favorites.db file (you have to zip it) and give us 2-3 examples where it didn't work and if you have examples where it did work, please also list them.

[2019-04-13 13:30] SDXC commented on #96
Created small workaround to fetch missing chapters. Mangaku has some malformed HTML code.

[2019-04-13 13:30] #96 closed

[2019-04-13 14:05] Tmp341 commented on #97
It wasn't working for me yesterday, so when i've checked their site, they've removed some of their releases. Today, some of them are back it seems. But i've already transferred my favorites, so it is not a problem for me anymore.

But your favorites might be checking an old structure (explained here in [wiki](https://github.com/fmd-project-team/FMD/wiki#fresh-install, where i've put a note).

So,

[2019-04-13 14:08] SDXC commented on #87
It's possible that the mimetype handling of the old image servers is making trouble here. It may be, that FMD doesn't handle forced downloads very well.

[2019-04-13 16:20] l-l-l-l-l-l commented on #97
OK, after looking around, it seems that most of my favorited series have, for some reason, disappeared from their database (no announcement made, a link uploaded just last week is broken and the few series remaining tendo to have very few chapters). However, the series that still remain are also inaccessible and the software cannot update the list from the reader.

The following DB file has 6 seri

[2019-04-13 17:32] Tmp341 commented on #97
From your favorites, only ``Freezing`` and ``Freezing Colur`` are reachable. And only color one contains a couple of chapters. Tried to check your favorites, nothing.

I've copied the links from browser, gives ``N/A``.

[2019-04-13 18:25] MIRVOUS opened #98 "Problem with website [MangaKita]"
![fmd7](https://user-images.githubusercontent.com/45929526/56083803-2145d800-5e54-11e9-993c-064d6f1c6ec7.PNG)

[2019-04-13 18:26] MIRVOUS commented on #98
there's nothing there

[2019-04-13 18:28] AbidZakaria commented on #98
Mangakita adding cloudfire,
Try adding cookies and useragent

[2019-04-13 18:39] MIRVOUS commented on #98
tutorial please

[2019-04-13 18:41] riedhows commented on #98
from the info owner, we are in the process of repairing the server so it will be unstable in the next few days

[2019-04-13 18:42] riedhows opened #99 "Website changed domain [BacaManga]"
Bacamanga.web.id has change their domain to bacamanga.co

please fix this

thank you

[2019-04-13 18:52] MIRVOUS commented on #99
![fmd1](https://user-images.githubusercontent.com/45929526/56084060-c8783e80-5e57-11e9-8f97-2d639f6735dc.PNG)

thanks for the info. I don't know why that is

[2019-04-13 20:56] SDXC commented on #99
@AbidZakaria Can you test, if the lua script works when you just change the url? I can't because of Region Lock. If it works you can just make a pull request.

[2019-04-13 21:00] l-l-l-l-l-l commented on #97
Which is the issue I started with. In fact, the browser link I first tried to see if there was something wrong was the latest chapter they've uploaded.

It looks to me like they have had some issue and their reader was wiped out, since not only they have lost series and have a lot with no chapters, but also from the series that they still have, a couple of them have changed urls.

[2019-04-13 21:39] rs3mk opened #100 "Problem with website [RavensScans]"
![notwork](https://user-images.githubusercontent.com/19628943/56085441-ff733380-5e08-11e9-8e8e-a845d8435ea3.png)

use modified FoOlSlide

[2019-04-14 00:47] AbidZakaria commented on #99
![image](https://user-images.githubusercontent.com/19544118/56086859-8b2ca480-5e89-11e9-8d2b-66358bf92ef2.png)

it's works fine from me

[2019-04-14 00:56] MIRVOUS commented on #99
no it's not work from me

![fmd2](https://user-images.githubusercontent.com/45929526/56086911-d4312880-5e8a-11e9-8b8e-adc0430a1914.PNG)
![fmd3](https://user-images.githubusercontent.com/45929526/56086912-d4312880-5e8a-11e9-8c58-a98c8279fbdc.PNG)

[2019-04-14 01:06] SDXC commented on #57
@ElectroShade Webtoons Discover (also called Challenge) will be a part of the normal WebToons script without distinction between different sites. Would that be okay for you?

Additional languages are added as well.

[2019-04-14 01:15] SDXC commented on #57
Getting the manga list for challenge mangas could get really ugly. Over 300 pages just to get the titles. We can implement it, but you will probably updating your manga list for an eternity...

[2019-04-14 01:17] SDXC commented on #99
Ah cool, bacamanga.co is not region locked. That may be the reason why they changed their domain?

[2019-04-14 01:22] SDXC commented on #94
@AbidZakaria Fixed and optimized the chapter fetching. Added a language option (/en or /id can't distinct between different Website modules, so we have to go by language option). For now it's only EN/ID, but we can add the rest of the languages supported by WebToons.

What's missing for now is the WebToons Discover / Challenge part because it has too many entries (over 300 pages of title overview)

[2019-04-14 01:22] MIRVOUS opened #102 "Website changed domain [MangaKu]"
from http://mangaku.in/ to https://mgku.net

![fmd6](https://user-images.githubusercontent.com/45929526/56087092-68e95580-5e8e-11e9-82fd-7a3d420ea7dc.PNG)
![Uploading fmd7.PNG…]()
![Uploading fmd8.PNG…]()
![fmd4](https://user-images.githubusercontent.com/45929526/56087090-5d962a00-5e8e-11e9-87ec-88a0739e1af2.PNG)
![fmd5](https://user-images.githubusercontent.com/45929526/56087091-67b82880-5e8e-11e

[2019-04-14 01:25] MIRVOUS commented on #102
![fmd7](https://user-images.githubusercontent.com/45929526/56087112-aea61e00-5e8e-11e9-83e0-8629e573c038.PNG)
![fmd8](https://user-images.githubusercontent.com/45929526/56087114-af3eb480-5e8e-11e9-8378-de9a56bfb92a.PNG)

[2019-04-14 01:26] AbidZakaria commented on #102
that website change domain and change template

[2019-04-14 01:27] SDXC commented on #99
Script has been updated. Issue will be closed.

[2019-04-14 01:27] #99 closed

[2019-04-14 01:34] SDXC commented on #102
mgku.net is part of MangaShiro.lua
MangaKu has it's own lua file.

MangaKu will be removed. Users have to move their favorites to MangaKid instead.

[2019-04-14 01:41] SDXC commented on #100
It seems they moved everything behind some JavaScript. And they removed some mangas on their page. Deathtopia doesn't exist anymore.

[2019-04-14 01:45] SDXC commented on #102
I can still access MangaKu, so I guess it's not actually down.

[2019-04-14 01:52] AbidZakaria commented on #94
what if made own lua script for WebToons Discover / Challenge

[2019-04-14 04:48] MIRVOUS opened #103 "how to use cookies and user agent in FMD?"
some websites use cloudflare. So how to bypass that?
some say using cookies and user agents

[2019-04-14 06:00] Slasar41 commented on #103
Check wiki: https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-JapScan

[2019-04-14 06:15] MIRVOUS commented on #103
thanks friend

[2019-04-14 06:15] #103 closed

[2019-04-14 06:50] gfhghfghfh opened #105 "Can't download from website [MangaHasu]"
I can not download from MangaHasu

[2019-04-14 06:57] Tmp341 commented on #105
- Have you checked the website?
- It seems the website is behind CF. Have you tried the workaround?

[2019-04-14 07:06] gfhghfghfh commented on #105
Sorry,l am not good at English,so it is difficult for me to understand,but l still try to the workaround

but i want to ask for whether it can be fixed in future

[2019-04-14 07:30] Tmp341 commented on #105
What is your default language?

[2019-04-14 07:34] gfhghfghfh commented on #105
Chinese

[2019-04-14 07:59] Tmp341 commented on #105
![1](https://user-images.githubusercontent.com/1683388/56089954-5a596900-5ea3-11e9-9255-9be19c496617.jpg)
![2](https://user-images.githubusercontent.com/1683388/56089955-5a596900-5ea3-11e9-9c16-28ec8a89fa36.jpg)
![3](https://user-images.githubusercontent.com/1683388/56089990-19ae1f80-5ea4-11e9-8ef5-52bf8773b75a.jpg)
![4](https://user-images.githubusercontent.com/1683388/56089957-5af1ff80-5ea3-11e9

[2019-04-14 08:18] gfhghfghfh commented on #105
Thank you.  It's very nice of you.
I can not use my computer now,so l will try in a few more days.but I want if l still have a problem ,I hope you will help me.

Thank you for the information,again

[2019-04-14 09:38] SDXC commented on #102
MangaKu definitely is still available. Both domains work with FMD, so I'll close this issue.

[2019-04-14 09:38] #102 closed

[2019-04-14 09:41] SDXC commented on #57
I'll add Discover as an option (default disabled).
Because Discover also doesn't have a subdomain, we can't make a separate Website Module for it.

[2019-04-14 09:45] SDXC commented on #94
@AbidZakaria It's not possible if the website is only a subpart of the main:
`https://www.webtoons.com/` -> Website module possible
`https://www.webtoons.com/en/challenge` -> Website module **not** possible
`https://challenge.webtoons.com/` -> Website module possible, but doesn't exist.

[2019-04-14 11:12] SDXC commented on #94
challenge is now implemented. there is a technical limitation though. updating manga list stops at page 1000 because the pagination links aren't present anymore:
Has pagination:
https://www.webtoons.com/en/challenge/list?genreTab=ALL&sortOrder=&page=999
Has not pagination anymore:
https://www.webtoons.com/en/challenge/list?genreTab=ALL&sortOrder=&page=1000

There exist about 2650 pages.

[2019-04-14 12:35] SDXC commented on #57
Multilanguage support for WebToons and WebToons Challenge (Discover) added. Lua script will be published soon.

[2019-04-14 12:46] rs3mk commented on #100
![yes-ay](https://user-images.githubusercontent.com/19628943/56093004-40ab2800-5e89-11e9-971a-787267e2269d.png)
In Spanish if you have it. In English not.

[2019-04-14 12:47] SDXC commented on #37
Webtoons is now implemented. Will be released in the next few minutes/hours.

[2019-04-14 12:49] #94 closed

[2019-04-14 12:53] SDXC commented on #57
Another info:
Updating manga list for Webtoons Challenge will only go through the latest 1000 pages (for EN there exist about 2650 pages). Everything after that won't be checked/added anymore, you have to manually look for these titles on the website and add them to FMD afterwards.

We will probably add a complete list of entries to our upcoming mangalist archives though.

[2019-04-14 12:56] SDXC commented on #60
Does anyone have a favorites.db with entries of the old LeoManga website? I want to check, if I can take over the links or if I have to create new LeoManga as "LeoMangaXYZ" instead of "LeoManga".

[2019-04-14 12:59] rs3mk commented on #94
https://translate.webtoons.com/ is also included?

Spanish:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&language=SPA&teamVersion=0

English:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&episodeNo=111&language=ENG&teamVersion=0

Portuguese:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&episodeNo=111&language=POR&teamVersion=17

[2019-04-14 13:09] SDXC commented on #97
LetItGoScans moved from FoOlSlide to ComiCake. We probably create a ComiCake.lua and move all ComiCake websites there.

[2019-04-14 13:16] SDXC commented on #94
@rs3mk No. This would be a new website module. Was there an issue with this request? If not, can you create it?

[2019-04-14 13:22] SDXC commented on #57
Script has been released. the script should override the Pascal module implementation in 0.9.162.0.
Pascal module will be removed with 0.9.163.0.

Issue will be closed. Please re-open this issue, if you have problems.

[2019-04-14 13:22] #57 closed

[2019-04-14 13:28] rs3mk opened #106 "Add support for website [TranslateWebtoons]"
Site: https://translate.webtoons.com/

Spanish:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&language=SPA&teamVersion=0

English:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&episodeNo=111&language=ENG&teamVersion=0

Portuguese:
https://translate.webtoons.com/webtoonVersion?webtoonNo=780&episodeNo=111&language=POR&teamVersion=17

![tttaa](https://user-images.githubuse

[2019-04-14 13:29] rs3mk commented on #94
add it here:: https://github.com/fmd-project-team/FMD/issues/106

[2019-04-14 13:30] SDXC commented on #94
Thanks. Will probably be implemented next week.

[2019-04-14 13:32] SDXC commented on #92
Version 0.9.163.0 has been released.

[2019-04-14 13:32] #92 closed

[2019-04-14 13:33] SDXC commented on #78
Version 0.9.163.0 has been released.

[2019-04-14 13:33] SDXC commented on #76
Version 0.9.163.0 has been released.

[2019-04-14 13:33] #76 closed

[2019-04-14 13:34] SDXC commented on #27
Version 0.9.163.0 has been released.
Jump behavior has been addressed with that release.

[2019-04-14 14:02] JokoeSukri commented on #78
@SDXC , I like the current version, But I think you should added range view between history, not sum it all
- Today = Range Between 0 Sec to 24 hours
- Yesterday = Range Between 25 Hours to 48 Hours
- One Week = Range Between 49 Hours to 7 Days
- One Month = Range Between 8 Days to 30/31 Days
- One Year = Range Between 1 Month to 12 Months
- Year Two = 12 to 24 Months
- Year Three = 25 to 36 Month

[2019-04-14 14:09] SDXC commented on #78
@JokoeSukri You're right, makes a bit more sense. I just more or less blindly followed the existing entries. I will change them to ranged entries.

[2019-04-14 20:07] ElectroShade commented on #57
@SDXC  Thanks for adding support for this.  I was able to test that the multi-language support worked fine, the Webtoon Challenge checkbox doesn't appear to work though. When I update the manga list it doesn't appear to ever attempt it. Looking at the lua file, could it maybe be because its returning prior to hitting that once it finishes the main Webtoon list? im not all that familiar with lua bu

[2019-04-14 20:23] SDXC commented on #57
@ElectroShade Fetching the Challenge titles (going through 1000 pages of 20 titles per page) takes very long before it starts getting the manga info and updating the list. Does it stop or is it still in the state of looking for new titles?

I could add a suffix [Challenge] after the title if you want.

By adding I meant for your favorites, which is possible through manually paste the urls in the M

[2019-04-14 22:52] ElectroShade commented on #57
@SDXC  It stops. I deleted one of my main Webtoon titles and then updated the list and it found that deleted title and then re-added it. So im guessing its just never even attempting to look for the challenge ones.

Adding the [Challenge] suffix might work. That would let it be filtered to. Though to filter them out is there a way to to do an exclusion search in the FMD title filter?

Yeah I can a

[2019-04-15 03:16] sombra2077 opened #108 "Huge performance hit while updating manga list"
every-time I use update manga list, it causes my pc to slow down so much, its even disturbing other process, like idm downloads, when I check with task manager, sometimes fmd.exe spikes on ram usage up to 5gb (I have 8gb ram and fx-4300)

[2019-04-15 06:18] Tmp341 commented on #108
Have you checked your system with an antivirus?

[2019-04-15 06:39] Von07 commented on #108
I've tried that before and all I did was to lower the "Number of Downloaded Task" and Number of Downloaded Files" in [ Options > Conections tab ]

[2019-04-15 07:00] Tmp341 commented on #108
Oh, if you try to download too many tasks at the same time, you might have a performance issue. but never tested more than ``1`` task at a time.

[2019-04-15 10:20] leoteesh commented on #105
hi ,
the work around doesn't seem to work for me anymore. keep getting the error messages. kindly advise?
many thanks

[2019-04-15 11:27] Tmp341 commented on #105
You can open the site, read chapters normally right? What kinda error messages you get?

[2019-04-15 11:35] leoteesh commented on #105
Yes I can read the chapter online. The downloads just fails.

[2019-04-15 13:38] Tmp341 commented on #105
`16:37:27:416 WARNING: TTaskThread, download failed. "Meido no Koi wa Enma Shidai!" "Meido no Koi wa Enma Shidai! Chapter 001 Trial 1 - The King of Hell" "/meido-no-koi-wa-enma-shidai/vol-1-chapter-1-trial-1---the-king-of-hell-c518552.html"`
`16:37:27:554 ERROR: Error: TypeError: undefined not callable (property 'italics' of '')`
`16:37:27:698 ERROR: Error: ReferenceError: identifier 'document' un

[2019-04-15 16:44] leoteesh opened #109 "Favorites taking ages to update or don't update at all"
Hi
the manga updates is taking a long time to update. nearly a day,
this could be because most of my favorites are from mangago. is there anyway i can make it go quicker?

![image](https://user-images.githubusercontent.com/21075197/56150318-8b6e9200-5fa6-11e9-9e0d-fb4d990a4be1.png)

Many thanks

[2019-04-15 16:53] SDXC commented on #109
All your red entries had a timeout (probably because of CF).
You can change the timeout from 30 seconds to something lower, but you shouldn't lower it too much.
"Options->Connections->Connection timeout (seconds)"

Alternatively you can just disable mangago if you don't use the cf workaround.
Just order the list by website, select all mangago entries and rightclick -> disable it.

[2019-04-15 17:14] leoteesh commented on #109
Thanks for your reply...
i have tried the cf workaround but unfortunately that didn't work. :(
don't really want to disable mangago as some of the favorites i have are only available from there.

[2019-04-15 17:37] SDXC commented on #109
The CF workaround is a bit tricky sometimes. I'm working on a more elegant way for CF at the moment.

Disabling MangaGo would be temporary, you can always re-enable it again.
Or you can get the workaround to work, so you can retry it of course.

Right now, MangaDex is having it's regular DDoS again, so I wouldn't try to do it right now.

[2019-04-16 00:57] 3MROO96 opened #110 "Add support for website [3asq]"
Website: http://3asq.org/
Thanks in advance.

[2019-04-16 03:26] Tmp341 commented on #110
It does have support.

[2019-04-16 08:06] #98 closed

[2019-04-16 08:21] Ethanaelle opened #111 "Add support for website [Manhua123]"
Website (RAW) : www.manhua123.net
Thanks in advance ! :D

[2019-04-16 10:15] VijayThagriya opened #112 "Not Able to Download [Mangadex]"
Tried Few Link of the website , not able to capture manga list .

[2019-04-16 10:29] MIRVOUS opened #113 "Add support for website [CiayoEN, CiayoID, GoKomik, KomikZone, NGomik, ReonComics, MangaDropout, WebToonsID, WebComics]"
previously thank you for all work.
please. add this site
english :
https://www.ciayo.com/en
https://www.webtoons.com/en
![ciayo_en](https://user-images.githubusercontent.com/45929526/56201514-3b0d3800-606b-11e9-80fc-3c6be07594f1.PNG)
![linewebtoons_en](https://user-images.githubusercontent.com/45929526/56201515-3ba5ce80-606b-11e9-80e1-1c8f1ad05d7a.PNG)

Indonesian :
https://www.ciayo.com/id
![ciay

[2019-04-16 11:05] Tmp341 commented on #112
They have migitation again i think, use CF workaround.

[2019-04-16 11:35] 3MROO96 commented on #110
URL not supported!
![1](https://user-images.githubusercontent.com/18348292/56206355-75b3a800-604c-11e9-9ffd-b0d1bfaf042b.jpg)

[2019-04-16 11:40] Tmp341 commented on #110
Fmd supports ``3asq.info`` it seems.

[2019-04-16 13:05] BadChase commented on #112
I have the same issue from MangaDex, even tried the CF workaround and still cant download nor load manga information. No problem to watch it in my Firefox.

[2019-04-16 13:09] Tmp341 commented on #112
You need to log in to your account, then get necessary cookies.

[2019-04-16 13:16] BadChase commented on #112
I have done that too. Followed the CF workaround from the old FMD wiki. Doublechecked with your wiki. Everything should be correct yet nothing. Any advise?

[2019-04-16 14:56] Tmp341 commented on #112
![ssssassssasaassaassa](https://user-images.githubusercontent.com/1683388/56220312-e79de880-6070-11e9-8c44-273a2fbd7452.jpg)

[2019-04-16 15:38] anfgomezmo commented on #112
It is working with the cookies, I can confirm. Probably FMD isn't loading your cookies. Follow these steps:
1. Log into Mangadex and copy __cfduid, cf_clearance, mangadex_session, mangadex_rememberme_token
2. Go to Mangadex in FMD and add those items line by line and do not forget the ;
3. Add the UserAgent (you can find it where you grab the cookie info)
4. Apply, check if the changes were applie

[2019-04-16 17:52] MIRVOUS opened #114 "How to export/import bookmark list?"
I tried importing a list of bookmarks but this happened :
![fmd3](https://user-images.githubusercontent.com/45929526/56232378-cfe35600-60aa-11e9-8f3a-5833dd8d17d4.PNG)
![fmd4](https://user-images.githubusercontent.com/45929526/56232379-cfe35600-60aa-11e9-820e-44700c148419.PNG)
![fmd5](https://user-images.githubusercontent.com/45929526/56232381-d07bec80-60aa-11e9-98e5-5e0c5678e6b0.PNG)

maybe I don

[2019-04-16 19:13] Tmp341 commented on #114
What are you trying to do exactly? I have never used that feature, so not sure what it does.

[2019-04-16 19:35] hypomaniak commented on #112
Apply, check if the changes were applied in the cookie and the user agent in FMD (sometimes the cookie won't load)

How can you check that?

[2019-04-16 21:08] RFIQ commented on #112
So, I did all the MD+CF workaround (using info from Firefox once, deleted and then using info from Chrome once) and neither both working at all with FMD.

I did all the cookies and user-agent as told in the comments above but no avail.

Double checked if the cookies lines are there after restarting FMD and it's still there alright.

Any ideas why it still won't load the chapters?

[2019-04-16 21:56] sombra2077 commented on #108
@Tmp341 sorry for the late reply, I'm using fmd_0.9.163.0_Win64, and didn't change any connection setting before updating the manga list, the only setting I've changed is downloaded manga directory, I'm placing the fmd files on C: system drive and saving the downloaded manga on D:, but those partition are still within the same hdd (1tb hdd), and I'm just using always updated windows defender on wi

[2019-04-16 22:04] #114 closed

[2019-04-16 22:07] MIRVOUS commented on #114
i tried to importing a list of bookmark in "favorite tab" => "import list"

but I think it's okay for now.

if later I have a problem again, I will open the issue

[2019-04-17 04:34] Tmp341 commented on #114
I think it was Domdomsoft list importer, but i might be wrong though.

[2019-04-17 04:36] Tmp341 commented on #112
Just restart FMD after applying.

Have you logged in your account?

[2019-04-17 04:54] Tmp341 commented on #108
You can upload FMD.exe to Virustotal.com and check it.

Now that i think about it, there was an issue like that. https://github.com/riderkick/FMD/issues/1175

I've advised the issuer to do a [Fress Install](https://github.com/fmd-project-team/FMD/wiki#fresh-install), and he said the problem gone after doing so. I've explained what to do and what files to backup before doing fresh install. Try that

[2019-04-17 05:16] Tmp341 commented on #109
Mangago was the main problem FMD had, back in the days. I've stopped using it years ago. But this CF is spreading like a flu.

[2019-04-17 07:03] nille02 commented on #112
I Face the same. I did all that is in the workaround but it did not work.

[2019-04-17 08:18] hypomaniak commented on #112
Same situation for me, I never managed to get the CF workaround successful.
I tried getting the settings from Firefox, from Chrome, with and without login, etc...

The FMD log is not helpful in this kind of situation.

[2019-04-17 08:21] Tmp341 commented on #112
FMD only logs chapter and lua related errors, since that N/A isn't chapter related error, it won't log it normally.

[2019-04-17 08:22] Tmp341 commented on #112
Looks exaclty same. Please try removing ``;`` at the last line, and put ``0`` to ``UpdateListDirectoryPageNumber``.

[2019-04-17 08:24] hypomaniak commented on #112
I was just trying that.
No ; and 0, no difference.

Also, with or without mangadex_rememberme_token, no difference

[2019-04-17 08:39] nille02 commented on #112
Like i said, don't get distracted by it. It was already gone

No Change

[2019-04-17 08:46] Tmp341 commented on #112
I've run out of ideas, @SDXC please help me out.

[2019-04-17 09:15] mastafrooper commented on #112
It's hit and miss for me. Sometimes I open FMD even with the CloudFlare stuff and it works. SOmetimes not.

I assume there must be some deeper protection that kicks in at times. Or I could just get lucky and Cloudflare is coming and going and the workaround never works.

[2019-04-17 09:30] RFIQ commented on #112
@Tmp341 yes I logged into my MD account and that's exactly the lines and settings that I use in my FMD.
So an hour ago I tried again, with Firefox first. No luck with the cookie settings again.

But for Chrome (tested twice), I manage to get the cookies and user-agent works for some reason and one thing that I noticed when testing with both Firefox and Chrome info, FMD seems not updating the manga

[2019-04-17 10:11] Tmp341 commented on #112
There some alternative cookies Firefox isn't showing. But i'm using Firefox cookies and it works for me.

[2019-04-17 13:33] nille02 commented on #112
After many trys and redo the steps again and again it worked. I just used Firefox.

Would be fpCEF3 not a solution for the problem? It can handle the CF Challenge and we don't have to do it manual.

Until now the ddos protection didn't concern me. I just waited and run a check at a time without a high load. But since days it was active :/

[2019-04-17 13:55] Tmp341 commented on #112
@SDXC is working on a permanent CF utility in Pascal language (FMD's base language). He doesn't know anything about it, thats why we haven't got any progress till now.

[2019-04-17 14:17] nille02 commented on #112
fpCEF3 is a pascall binding for chromium.

tachiyomi did now something similar with WebView to fix the CF and Login problem (You can Open the Website with Webview, Login and the App can use the Cookies).

[2019-04-17 14:21] Tmp341 commented on #112
I think @SDXC wants to build something inside, ther than a 3rd party app (even if it is open source).

[2019-04-17 14:42] 7a9o opened #115 "Can't get manga info [GManga]"
Website = Gmanga
URL = https://gmanga.me/
Category = Arabic

[2019-04-17 14:44] Tmp341 commented on #115
It is already supported with ``GMangaMe.lua`` file. What is wrong with it?

[2019-04-17 15:01] nille02 commented on #112
Its just an Option. It has its advantages because you don't has to bother anymore about bot protections and in case of a captcha you can open a pop up and let the user solve it.

[2019-04-17 15:07] SDXC commented on #112
@Tmp341 I have made some progress. It's just really disappointing because this Pascal's Regex implementation is absolute shit. >_>

@nille02 fpCEF3 is kind of a last resort. If I'm not able to do it directly, I will evaluate other solutions first.
From what I can see in the readme.md of fpCEF3 is that you have to extend a system environment variable and that's something I absolutely loathe. FMD is

[2019-04-17 15:09] 7a9o commented on #115
![dddddddddddddddzzreztrezrezrezr gfdgfd g456456](https://user-images.githubusercontent.com/42692659/56298984-0cef2d00-612b-11e9-8344-0ed190e3f3df.PNG)
can't download

[2019-04-17 15:16] SDXC commented on #115
@7a9o You sure you have the latest version of FMD and all lua files? I just tested your link and it worked...

[2019-04-17 15:38] 7a9o commented on #115
yes >> 0.9.163.0_Win64
and lua file as well >> ![gmang](https://user-images.githubusercontent.com/42692659/56301133-18445780-612f-11e9-95c1-9461d4e7c801.PNG)

[2019-04-17 15:39] ChocolateOtaku commented on #112
I think it's just a metter of time until Captchas will arrive because of excessive usage...
Here i found a workaround for HakuNeko:
https://sourceforge.net/p/hakuneko/discussion/general/thread/02be95c5e0/

[2019-04-17 15:44] nille02 commented on #112
The Problem with the environment variable can be solved, i guess. At application start you can extend path by your local path where chrome_elf.dll and icudtl.dat are located. so its not necessary.

[2019-04-17 16:56] Tmp341 commented on #112
I'm always setting minimum limits. And I advise it. Because of excessive usage, Mangadex and many others started using CF protection (yes i'm aware of Mangadex's DDoS attacks, but it started before those).

I don't want to use online readers, some of them has very bad designed interfaces. I'm downloading from mangadex between ``20 kb/s`` - ``200 kb/s`` speeds. I just want to read offline, send som

[2019-04-17 17:04] Tmp341 commented on #115
Have you done [Fress Install](https://github.com/fmd-project-team/FMD/wiki#fresh-install) while moving to new FMD?

[2019-04-17 17:25] azraei97 commented on #112
Some say do:
1. Log into Mangadex and copy __cfduid, cf_clearance, mangadex_session, mangadex_rememberme_token
2. Go to Mangadex in FMD and add those items line by line and do not forget the ;
3. Add the UserAgent (you can find it where you grab the cookie info)
4. Apply, check if the changes were applied in the cookie and the user agent in FMD (sometimes the cookie won't load)

I not even have si

[2019-04-17 17:32] azraei97 commented on #112
The only stable solution for mangadex problem I think FMD should add MangaDex in Options > Websites > Accounts because when I read here they saying about can't work anymore without login to MangaDex first.

[2019-04-17 17:35] Tmp341 commented on #112
Read this :
https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

You're basically doing same thing. But you will have different entries. And you can't get Mangadex chapters without logging in (they've activated another protection layer along with Cloud Flare. FMD can't get list without username and password).

[2019-04-17 18:07] azraei97 commented on #112
Ok now I understand. Done doing like that and still does not work.

Edit: Now it works. I forget to click Enable after done add Cookies and UserAgent

[2019-04-17 18:21] ivanm48 commented on #112
I tried the steps that work for you, I added the mentioned cookies and user agent, clicked enable and entered the value "1" for the mentioned parameters and it still doesn't work.

Maybe they just have an added protection layer and for some people the CF Workaround works and for some it doesn't.

[2019-04-17 18:45] anfgomezmo commented on #112
Hello, as I said yesterday. It is working, you need to add the cookies. The session cookie bypasses the username and password layer. However, that cookie expires in one or two days, so you need to renew all them manually. If you are having a problem is with the cookies strings. For example, you need to check after applying and enabling that FMD isn't adding extra numbers at the end of the cookies

[2019-04-17 20:44] dustylancer commented on #112
I think that FMD also needs to increase the delay between checking of favourites as well. The new fork now limits the delay between checking to a maximum of 10 sec. Previously I had it at 15 as you would get banned if the delay was any lesser esp. with people having 300+ items in the list of favourites.

[2019-04-17 22:22] sombra2077 commented on #108
@Tmp341 file is clean with virustotal check

and yes its exactly the same issue as one you reference

I've tried fresh install and even place the fmd files on different partition and different hdd, still the problem happens, and with huge usage like this, I fear for the safety of my hardware
![3](https://user-images.githubusercontent.com/49628510/56324651-a2c1a100-6199-11e9-92fb-43f723c617f9.jpg)

[2019-04-18 00:23] spamtaztik commented on #112
Um, actually you can select ALL lines from the "cookie:" field from your browser and just dump it into MD's "cookies" field in the FMD options (you don't really have to choose only specific lines). That's what I've been doing all along. It's so much faster than only selecting specific fields, copying them to notepad, adding ";", etc etc. MD doesn't seem to care about extra items in the cookie stri

[2019-04-18 01:24] Twoearle commented on #112
![image](https://user-images.githubusercontent.com/12878675/56330615-c9121d00-6156-11e9-81f1-798f287138b1.png)

If you go to your mangadex profile settings, you'll find that the cookies indeed expire after a day (or maybe two) so the workaround is essentially temporary until a permanent fix is made.
In the case of mangadex one option would be fetching the chapters with another app; wait for a fix

[2019-04-18 01:35] Josexv1 commented on #112
Actually you just need the CF cookies, no need to login in MD or other sites, you're bypassing CF not the website, CF reloads a few times per month, so probably you will need to edit the cookies again and again. Just did it, right now and works just fine, so bad that with the settings i'm downloading file per file instead of using multiple connections, as MD is getting DDoSed by skids...

[2019-04-18 01:36] sombra2077 commented on #108
I think I found a fix, @Tmp341 I think there's something wrong with the x64 version of newest fmd as this point (fmd_0.9.163.0_Win64), or maybe some compability issue with certain pc specs (especially mine), because I remember there was the same memory leak problem of a certain game from steam a few years back, the game released in 32 and 64 version, and the fix was simply use the 32 ver of the ga

[2019-04-18 02:57] MIRVOUS commented on #113
Add one more.
- https://mangadropout.net/
![mangadropout](https://user-images.githubusercontent.com/45929526/56333905-42922580-61c0-11e9-91ac-a89f6f4020d5.PNG)

[2019-04-18 03:30] WildCrow commented on #112
For me just the cookie from Chrome works fine, the one from Firefox doesn't.

[2019-04-18 03:38] Tmp341 commented on #112
Sometimes, they add another layer of protection, you can't get manga list without using your account.

[2019-04-18 03:41] Tmp341 commented on #108
Can you send your log?

Also your fmd (the whole package) files.

[2019-04-18 05:34] rs3mk commented on #112
If you have configured the use of proxy in FMD, you must use that same proxy to obtain the mangadex cookie.

[2019-04-18 11:31] VijayThagriya commented on #112
MangaDex is working again after updating lua files.

[2019-04-18 12:05] uhruhri opened #116 "Manga list is not match with sites"
Hi,

So I just moved from riderkick version to SDXC version and decide to do clean installation. I only backup my configuration and favorites.

After installation and making sure config for MangaDex and KissManga (CF Workaround) is still there, I tried to update the manga list for both sites. But after I'm done, manga that I'm looking for is not available (Solo Leveling).

I tried to re-update aga

[2019-04-18 12:30] Tmp341 commented on #116
I'm getting chapter list.

``Options\Websites\Options`` ``Mangadex\Language\" What is selected here?

[2019-04-18 12:37] uhruhri commented on #116
English

It seems I found what affect it, CF Workaround...

![CF Workaround](https://user-images.githubusercontent.com/49753654/56361313-3f735580-6211-11e9-8747-6c336bcbedfb.PNG)

Can I have suggestion what's the best values there for updating manga list and downloading the manga?

Because it seems it will affect my download task too based on parameter there.

[2019-04-18 12:40] Tmp341 commented on #116
My settings are all ``1`` for mangadex, except ``UpdateListDirecortyPageNumber``, which is ``0``.

[2019-04-18 12:41] 7a9o commented on #115
Now it works after the fresh install
Thank you @SDXC & @Tmp341

[2019-04-18 12:43] uhruhri commented on #116
Yeah my original config was 1 too...but back there i never need to update my manga list so I didnt know CF workaround setting can affect update manga list command.

If I set UpdateListDirecortyPageNumber to 0 it won't update manga list....

[2019-04-18 12:44] Tmp341 commented on #116
Wait what?

[2019-04-18 12:48] uhruhri commented on #116
It's only 1/1 for me...
![mangalist11](https://user-images.githubusercontent.com/49753654/56361951-d987cd80-6212-11e9-9d49-aef0d647848f.png)

CF Setting
![cfsetting](https://user-images.githubusercontent.com/49753654/56361978-eb697080-6212-11e9-9b70-cee17a646f0b.PNG)

[2019-04-18 12:51] Tmp341 commented on #116
Well, I'm out of options other than asking for your FMD files.

[2019-04-18 12:53] Tmp341 commented on #115
Ok. I'm closing this issue. If you have any problems with this, please reopen it.

[2019-04-18 12:53] #115 closed

[2019-04-18 13:02] uhruhri commented on #116
Sorry for delay answer. Was trying few things.
Task will work as long I set `UpdateListDirecortyPageNumber` other than `0` or `1` as you can see in screenshot. But I don't know the result yet, since it's quite slow

![cf316](https://user-images.githubusercontent.com/49753654/56362764-d2fa5580-6214-11e9-8b95-1a6d9e5203f7.PNG)

[2019-04-18 13:19] Tmp341 commented on #116
It is slow because of those ``4`` limits set to **1**. I'm using these settings since the first day Mangadex opened. Never banned (well i can't bypass CF from time to time, but it is a needed feature on FMD's side).

[2019-04-18 13:39] uhruhri commented on #116
Hi @Tmp341 thanks for your help
I think the culprit was because I set `UpdateListDirecortyPageNumber` to `1`

Checking again CF Workaround in other thread it didn't mention to set `UpdateListDirecortyPageNumber` to `1`. So yeah it's my mistake, back there I never need to update manga list so I never found this problem and think I used correct configuration

Tried to install in other PC it's workin

[2019-04-18 13:39] #116 closed

[2019-04-18 13:53] Tmp341 commented on #116
That ``UpdateListDirecortyPageNumber`` has nothing to do with workarounds etc. It changes from site to site. And it is not "how many mangas that site have". For example, if it didn't change, it was ``267`` for kissmanga. FMD shows it before updating.

[2019-04-18 14:29] spamtaztik opened #117 "[REQ] Well, since FMD is forked, can I suggest some features?"
Since FMD is now forked, I'm assuming that new features CAN be added into the app, instead of just adding new sites/updating lua's?

If yes (please say yes), can I ask for these features?
1. Can the result of the favorite check be left alone (at least until the next check, then the previous result can be cleared)? So clear the result at the start of a new check only and not at the end.
2. Can you

[2019-04-19 01:34] sombra2077 commented on #108
sorry I've already deleted the extracted x64 files, but the rar is from here:
https://github.com/fmd-project-team/FMD/releases/tag/0.9.163.0

but I still have the rar files in my pc:
https://drive.google.com/open?id=1WCXdle_1vegWrnwRlf2di5B0tdONlg-z

[2019-04-19 03:19] Tmp341 commented on #108
That is official release. I was asking for your files.

[2019-04-19 05:47] wuhugm commented on #112
Yesterday cookies worked
Now it doesn't
Already cleared cookies before trying again

[2019-04-20 00:16] Aaron2550 opened #118 "Adding multiple favorites at once doesn't work"
Would it be possible to make a "Download all from list" feature? For example: The user specifies a .txt or .list or .whatever file and FMD scrapes all the URLs from it and downloads them. Also, would it be possible to add a "Redownload" feature like on torrent clients where it rescans the files and if theyre corrupt/dont exist they get redownloaded?

[2019-04-20 00:32] Aaron2550 commented on #118
Also, IDK if this is a feature atm but it would be nice to have a "check for new chapters" button

[2019-04-20 00:49] sombra2077 commented on #108
oh you mean these files?
https://drive.google.com/file/d/1BfuzhvK2U_0zWNI4_7ZpkSk2vFF8WVG2/view?usp=sharing
that's all the files in my FMD win64 ver folder

I even managed to reproduce the huge performance hits a while ago with fmd_0.9.163.0_Win64 just by doing the update manga list thing
![12212](https://user-images.githubusercontent.com/49628510/56449189-71370a00-6340-11e9-86f8-11580ac04d2d.jpg)

[2019-04-20 04:11] Tmp341 commented on #108
![dddassss](https://user-images.githubusercontent.com/1683388/56452615-6f1e7c80-633b-11e9-814f-34ac3af7eb06.jpg)

No problem at all.

[2019-04-20 05:14] Slasar41 commented on #118
Someone already request multi download from text file https://github.com/fmd-project-team/FMD/issues/27

[2019-04-20 11:29] Aaron2550 commented on #118
What about the other two features?

[2019-04-20 20:33] bloodsign opened #119 "Downloads fail [ManhwaHentai]"
Same issue with [RawQQ][https://github.com/fmd-project-team/FMD/issues/87](url)
FDM can retrieve the list of chapters from manhwahentai.com but the download fails.
Here's the manhwa i'm trying to download: https://manhwahentai.com/manhwa/liliths-cord/
I've tried the CF workaround but it didn't work for me, possibly a site change/need to update lua script?

[2019-04-20 20:36] bloodsign commented on #119
Also, I can't seem to figure out which lua script manhwahentai uses from the modules folder.

[2019-04-20 21:13] SDXC commented on #112
As it seems fixed for the issuer, I'll close this issue.
CF solution is still in the works.

[2019-04-20 21:13] #112 closed

[2019-04-20 21:17] SDXC commented on #113
All WebToons languages are already implemented.

![WebToons options](https://user-images.githubusercontent.com/5290260/56462349-5ad19280-63c2-11e9-998e-b89eaf8f8295.png)

[2019-04-20 21:17] Josexv1 commented on #118
![image](https://user-images.githubusercontent.com/12077848/56462345-60b27e00-6398-11e9-9f47-cdd03496c650.png)
We already have the "Check for new chapters" button.

The redownload would be cool.

[2019-04-20 21:19] SDXC commented on #117
I don't think I'll implement the first request, but the second is a good idea.

[2019-04-20 21:29] SDXC commented on #118
Re-download has already been requested in issue #25 as well.

Slasar41 mentioned #27 for downloads by list files and Josexv1 answered the "Check for new chapters" button. So I'll close this issue as a duplicate. Just check the changelogs when new versions of FMD are being released.

[2019-04-20 21:38] Aaron2550 commented on #118
Yeah but you have to use the favorites system for it and it would be much easier to use if it would just be a button you press and it instantly downloads all new chapters from all mangas ever downloaded. Not gonna add 300+ mangas to my favorites list

[2019-04-20 21:42] Josexv1 commented on #118
So, what you're asking is that FMD detect the manga that's already in your device, and then check if there are updates for those manga, **also they're not in your favorites?**

[2019-04-20 21:44] SDXC commented on #118
@Aaron2550 The favorites are exactly for that. Tracking chapter counts, etc. is only implemented for favorites and it will stay like this. But: You can select multiple entries in the manga list and add them to favorites at once.

[2019-04-20 22:01] Von07 opened #120 "[Feature Request] Show Chapter Released Date in Manga Info"
I just wondering if its possible to show the released date of the chapters in manga info.. I know that it will takes alot of time. Just tell me if its not possible as of moment.. Thank you

Ex.
Mangarock - [Chapter]- [Date]
![Request1](https://user-images.githubusercontent.com/21298898/56462739-e49d5200-63fa-11e9-957d-e3733d98a342.png)

[2019-04-20 23:45] Josexv1 commented on #108
I can't reproduce the bug with the files you uploaded. Can you use Process Explorer and check the Resource usage? Also maybe you can use [Hook Explorer](https://github.com/dzzie/HookExplorer) to check what the software is doing that stress the ram.

[2019-04-21 21:56] Josexv1 opened #121 "[Feature Request] Stop checking updates for this manga"
Sometimes, a website stops working so the whole module stops working, since it will stay there forever, trying to get the website, so an option to stop searching updates for this manga/site will help with that. Or have an option that sets a timeout for the website.

[2019-04-21 22:10] SDXC commented on #121
What I could implement is a user option to disable favorite entries that fail. But you will have to re-enable them manuall if the module gets fixed later. Not that it will be a big problem though.

[2019-04-21 22:14] Josexv1 commented on #121
I'm just disabling the manga then when the other new mangas are added to the download list i enable them again, so i think it's good for me, but it would be good that fmd just skips the manga if some http error shows up while loading..

[2019-04-21 22:17] SDXC commented on #108
What I can see is that the disk seems to be the issue here. It looks to me like the disk is too slow in writing down the data it gets from FMD and/or IDM or other processes and pushes the data into the RAM sometimes.

The "Processes" tab would be interesting. Also, which disk do you have?

[2019-04-21 22:20] SDXC commented on #121
I think it would be actually two options then.

1: Normal: Disable failed manga entries in favorites when chapter check fails.

2: Aggressive: Disable all manga entries in favorites for the same website if [5] checks fail.

[5] could be a NumberBox where the user can set a custom number.

[2019-04-22 03:46] Tmp341 commented on #108
I'm using FMD on a 5400 rpm HDD. :D But we need other processes running behind too.

[2019-04-22 04:52] knight109 commented on #112
mangadex is not working again, it is fine until yesterday.
already updated lua.

[2019-04-22 05:17] nille02 commented on #112
you had to refresh the cookies

[2019-04-22 05:32] JunkCreek opened #122 "Download doesn't work [KomikCast]"
just get this error recently

Komikcast didn't download any pics, only the chapter

here is the log

`12:30:56:086 WARNING: TTaskThread, checkforfinish failed=28/28 [KomikCast]"Umi no Misaki" > "/chapter/umi-no-misaki-chapter-127-bahasa-indonesia-tamat/"
https://i0.wp.com/lh3.googleusercontent.com/-hdguGdQuqng/W5kRuoVoDMI/AAAAAAAC4fA/SOhG0lVBjdcpe4wcxf6NgR0OTmGW9j8LQCLcBGAs/s1600/00.jpg
https://i0

[2019-04-22 06:32] Tmp341 commented on #122
It is behind CloudFlare protection. You need to use this workaround explained in Wiki:

https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

[2019-04-22 13:00] ChocolateOtaku opened #124 "Add support for website [ComicWalker]"
The website officially publishes comics and is available in different languages EN, JP and TW

https://comic-walker.com/set_lang/en/, https://comic-walker.com/set_lang/jp/, https://comic-walker.com/set_lang/tw/

[2019-04-22 16:23] bloodsign commented on #121
With the issue with Mangadex(and other sites) needing to update the cookies every day, if this was implemented I would have to re-enable my favorites every single time. But since I have some favorites that are disabled for other reasons, it would be a mess to pick which favorites I have to re-enable.

But since it's an option, I'm fine with it since people might find some use for it, as long as it

[2019-04-22 16:37] sadeghp88 opened #125 "Add support for website [Manytoon]"
would you please add https://manytoon.com/

thanks a lot

[2019-04-22 16:38] bloodsign commented on #119
Okay, I tried to retry the failed downloads again and it seems to be working now. Beware about downloading multiple series from ManhwaHentai all at the same time, it might cause the download to fail again. (I tried to redownload 3 series at the same time, the 3rd series failed, but when the 1st and 2nd series I redownloaded finished, the 3rd series started downloading successfully)

I will be temp

[2019-04-22 16:39] #119 closed

[2019-04-22 19:31] azraei97 commented on #120
I also agree with this. Sometimes website update the chapter without change the name. So only with chapter date we know it new or old

[2019-04-22 19:35] azraei97 commented on #109
Due to security protection for website have CloudFlare like mangadex and mangago, please use make custom setting for cookies and useragent in Options > Websites > Advance. Cookies and useragent can be get by press F12 in your browser.

[2019-04-22 22:54] Vantageright opened #126 "Manga downloading into other manga folder"
Downloads are saved into the incorrect folder, I don't know what the cause is - its happened with update downloads for faves (which had the correct folder set) and manually selected chapters though the info view.
Expected folder structure: A:\Manga\XYZ when it ends up A:\Manga\BeeMovieScript\XYZ

[2019-04-23 01:23] arbiter9605 opened #127 "highlight showing manga as complete"
Normally when you do an update if a site reports a manga is "complete" least in terms of new chapter being made by the manga artist. The program will highlight them in green (be default) but when update check is done the green highlight goes away so wonder if could make it so the green highlight stays until the next update?

[2019-04-23 03:21] Tmp341 commented on #126
Can you show us what are your settings?

[2019-04-23 08:21] AbidZakaria commented on #122
@Tmp341 the site is indeed problematic,
sometimes there are several chapters that don't exist,
so just close this issue

[2019-04-23 09:27] Tmp341 commented on #122
I'm waiting that from the issuer.

[2019-04-23 13:23] molitar opened #129 "Mangas with missing images [Holymanga]"
No matter what manga I read even on the website is always missing images. Users will think it's the fault of FMD but it is not.

I vote to drop support of Holymanga as the site itself does not even listen to the readers and never fixes broken chapters.

[2019-04-23 15:50] Tmp341 commented on #129
Are they having an issue? Or they don't care about missing parts at all?

[2019-04-23 16:14] makharius opened #130 "Download doesn't work [MangaChanRu]"
A few days ago the program stopped receiving the list of chapters from [mangachan.me](https://mangachan.me) I hope you can help me. Thanks in advance!
![2019-04-23_190822](https://user-images.githubusercontent.com/49916865/56597637-89867d80-65fb-11e9-920c-721399c276ae.jpg)

[2019-04-23 16:26] molitar commented on #129
They do not care.. readers report it and the chapters never get fixed.

[2019-04-23 17:35] JunkCreek commented on #122
can't get something similiar on the work around cf

I get this instead

![screenshot_32](https://user-images.githubusercontent.com/31476117/56602974-df254f00-6628-11e9-925e-e4152d01bfae.png)

[2019-04-23 18:02] Vantageright commented on #126
https://imgur.com/a/ubrpMU3
THose are the save to settings, if you want something else, say but its all default.

[2019-04-23 18:34] Josexv1 commented on #126
Acoording to your settings it will be saved as:  **A:\Manga\One Piece_MangaDex\756.pdf** you can check if the favorites have another directory set for download.  You can check where it will be saved in the favorites module.

[2019-04-23 18:45] Vantageright commented on #126
I check whenever something downloads to somewhere wrong and I fix it. The issue is it ignores the settings at random and will create another manga folder in the preexisting folder- example Naruto\Naruto rather than just putting the chapter in the normal Naruto folder.

[2019-04-23 20:15] IgnatiusC opened #131 "Manga saves to directory of currently open info"
If I bring up a manga's info that I already have downloaded the "Save to:" changes to the download directory of that manga. Then if I right-click add to favorites/download all a different manga it adds to the directory of the manga info I have open. Eg https://i.boring.host/YOYhNxD.png

[2019-04-24 02:08] Aaron2550 commented on #118
Nope, doesnt work as far as i know. Neither via the dropbox nor Right click > view info > Add to fav. Is there another way?

[2019-04-24 03:45] Tmp341 commented on #122
Maybe a ``tampermonkey script`` or ``adblock/ublock filter`` might be blocking it. You're not getting ``cf_clearance=xxxxxxxxxxxxxxxxxxxxxxx`` cookie it seems.

[2019-04-24 03:51] Tmp341 commented on #126
Try doing a fresh install explained here :

https://github.com/fmd-project-team/FMD/wiki#fresh-install

[2019-04-24 04:01] Tmp341 commented on #130
https://github.com/fmd-project-team/FMD/wiki/CF-Workaround:-LHTranslation

Try the workaround above.

I got a ``PHPSESSID=xxxxxxxxxxxxxxxxxxxxxxxxx`` cookie. Try getting that and adding explained here:

[2019-04-24 07:07] nille02 commented on #112
They must have change something again, with the workaround i cant update the favs. can someone else confirm?

[2019-04-24 08:11] SDXC commented on #118
I'll check it later. If it's really not working, then I'll fix it so my statement will be correct ;)

[2019-04-24 09:14] JunkCreek commented on #122
I've deleted adblockplus, clear cache dan cookies via Cookies and Site Data in mozilla option, restrat mozilla, still cf_clearance not apperaing. T_T

Using avast as my AV

Here is the result
![screenshot_33](https://user-images.githubusercontent.com/31476117/56647489-c0b46780-66ab-11e9-946b-c7d2e5ac4bd2.png)

Here is my add-ons
![screenshot_34](https://user-images.githubusercontent.com/31476117/5

[2019-04-24 09:16] Tmp341 commented on #112
Just checked. I haven't changed my cookies since last week. Working on my end (downloading some of my mangas).

[2019-04-24 09:19] nille02 commented on #112
Now its working again, without any change ...

[2019-04-24 09:21] Tmp341 commented on #122
https://blog.cloudflare.com/cloudflare-supports-privacy-pass/

So, according to CloudFlare, you haven't passed it's ``captcha`` challenge some time ago.

[2019-04-24 09:23] JunkCreek commented on #122
trying "random" manga. they worked, but again, I don't know, if it "partially".

may be it just the site (?)

i'd give you another update about my "experiment" with the site.

![screenshot_35](https://user-images.githubusercontent.com/31476117/56648325-54d2fe80-66ad-11e9-923d-e6f80b332a4e.png)

[2019-04-24 09:24] Tmp341 commented on #122
Try disabling your AV.

[2019-04-24 10:49] makharius commented on #130
I tried this solution, but unfortunately nothing has changed.

[2019-04-24 11:23] Tmp341 commented on #130
It seems FMD only gets something else (like 1 chapter), even though the manga I've tested has ``49`` chapters.

[2019-04-24 12:24] Josexv1 commented on #112
The only solution is to change a the cookies daily in the mangadex module, until a fix is built in.
I believe this issue can be closed

[2019-04-24 13:51] nille02 commented on #112
it is closed, but even with new cookies it happens that it did not working.

[2019-04-24 20:42] Clydefrosch22 commented on #46
Ok, tried again today, multiple times, workaround doesn't seem to be working anymore for the site.

[2019-04-25 06:14] AbidZakaria commented on #122
yes, site problem
try using BacaManga for download your favorit manga

[2019-04-25 07:08] Tmp341 commented on #122
It has nothing to do with FMD?

[2019-04-25 08:29] Tmp341 commented on #54
I'm getting ``Url not supported`` message.

[2019-04-25 08:30] JunkCreek commented on #122
I don't know for sure. But, may be it just because the site. Some manga can be downloaded, but some "partially" downloaded (empty chapter)

I don't have another manga client on PC.

But KomikCast had their own app reader on phone.

[2019-04-25 08:32] Tmp341 commented on #122
Is there a pattern? Like that happens on certain manga or chapter etc? Or completely random?

[2019-04-25 17:38] knight109 commented on #112
i dont know if it just me but change the cookies doesnt work anymore.
it worked yesterday tho.

[2019-04-25 17:39] nille02 commented on #112
They have some other protection enabled in there high load times.

[2019-04-26 05:14] knight109 commented on #112
ohh you right, i can do it now

[2019-04-26 05:16] nille02 commented on #112
Because you write now hours later

Tmp341 <notifications@github.com> schrieb am Mi., 17. Apr. 2019, 09:37:

[2019-04-27 15:55] AbidZakaria commented on #122
only happens in old manga and chapter

[2019-04-28 19:56] nille02 opened #132 "[exhentai][e-hentai] not working"
Since some time now only the scaled images are downloadable but today i notices that the download is not working anymore.

Im Logged in and view the Information and Chanperlist, but downloads are not starting.

[2019-04-29 06:26] hilmanfaiz opened #133 "FMD Update doesn't work"
I see the current version is v0.9.163.0 and I'm using v0.9.162.0 and the button `Check for latest version` on `About FMD` doesn't auto-update the app.

Please fix, thanks

[2019-04-29 08:37] SDXC commented on #133
Can you please attach the "base.ini" from your "config" folder?

[2019-04-29 09:35] hilmanfaiz commented on #133
oh I see the problem, and it's on my side.
so I back then I when I migrate from riderkick to this fork, I copied `config` and `works` folder to keep my FMD download history, favorites, etc..
`base.ini` is also replaced. I've tried replacing it back to original `base.ini` and now it works

thanks

[2019-04-29 09:35] #133 closed

[2019-04-29 11:29] Tmp341 commented on #132
Tested for myself, even after adding ``Cookies``, download starts, but download speed stucks at ``0Kbps`` and never finishes (probably will fail later).

[2019-04-29 11:32] Vantageright opened #134 "Add support for website [Lezhin]"
https://www.lezhin.com/en

[2019-04-29 14:19] riedhows opened #135 "Website changed url [RawNeko->IsekaiRaw]"
Rawneko change site to isekairaw.com

thanks

[2019-04-29 18:09] SDXC commented on #135
RawNeko removed, IsekaiRaw added -> The favorites can be transfered if you have an updated manga list of IsekaiRaw.

Additionally because it's also using the same template, I added IsekaiScan as well.

[2019-04-29 18:09] #135 closed

[2019-04-29 18:40] SDXC commented on #71
@ZeroCool940711 Are you fluent in Python by chance? Would it be possible to prepare an absolutely most slim package of python (embeddable, not setup or overloaded content, remove all unneeded scripts/libraries/tools) including the scraper script? And an example command line call for the script.

[2019-04-29 23:55] ZeroCool940711 commented on #71
@SDXC I wouldnt say im a Python expert but Ive been using it for quite some time so I know my way around it, what do you need? an executable that you could call from the command line and get the content of CF cookies easily?

I can do that. I can use py2exe or some other library to create a single file exe with everything you need to run the script.

[2019-04-30 00:13] ZeroCool940711 commented on #71
@SDXC I can make it so you can use the same script for any site or URL, for example, it can take the URL as a command line argument and give you back the CF information for the site so you can use it on the FMD app as you like.

[2019-04-30 01:06] ZeroCool940711 commented on #71
[Here](https://github.com/ZeroCool940711/FMD-cfscraper) is the script. I created a repo which has 5 files if we count the `Readme.md`:
- `cfscraper.py` : Main script.
- `requirements.txt`: requirements in case you want to rebuild the `.exe` yourself.
- `setup.bat`: A setup for pyinstaller, simple but it works.
- `dist/cfscraper.exe`: A 7.35mb executable that you can run without any other dependenc

[2019-04-30 07:18] nille02 commented on #112
As a small addition to the Cookie Workaround. I ask myself why it fails sometimes. One reason is the IP Protocol.  In times where is was not working my browser connected thru IPv6 and these cloudflare cookies failed in fmd. Disable IPv6 in my Browser and connect over IPv4 helped.

To disable ipv6 in Firefox go to the address bar and enter about:config in the search enter network.dns.disableIPv6 an

[2019-04-30 09:15] SDXC commented on #112
@nille02 Thanks for that info. I always forget about the problems IPv6 brings. I have it disabled (on OS layer) myself, so I also never had problems with the workaround.

[2019-04-30 09:27] SDXC commented on #71
@ZeroCool940711 Hey thanks. I really appreciate your effort. I will test it today evening. If it works I will start implementing it into FMD.

It seems that CF changed their challenge this month and many bypass scripts/tools won't work anymore and some of them aren't maintained anymore as well >_>
Hope cfscrape is one of the working scripts ^^

[2019-04-30 09:27] nille02 commented on #112
My Final solution was disable ipv6 just for mangadex and readcomicsonline in my dns server (pi-hole)

I guess its posibile to do the same with the windows hosts file if you just add
`:: mangadex.org`
That should disable ipv6 for this domain.

[2019-04-30 09:29] SDXC commented on #112
Well in my case I don't need IPv6 anywhere, so I disabled it as long as this keeps being the case.

[2019-04-30 09:45] hypomaniak commented on #112
Just tried this solution, and it seems to work!
But at the same time, my RSS reader has managed to connect to Mangadex, so maybe it's just the Cloudflare that is off at the moment?

In any case, thanks for the information!!

[2019-04-30 09:50] SDXC commented on #112
@hypomaniak CF is off. DDoS starts probably around 16:30 (GMT+1h) again. It's been like this nearly everyday lately.

[2019-04-30 13:37] SDXC commented on #71
@ZeroCool940711 I tested it by now. The original script is broken, but someone made a working fork:
https://github.com/lukele/cloudflare-scrape/blob/update-challenge-solver/cfscrape/__init__.py

Could you recompile your exe with the fix?

[2019-04-30 15:06] ZeroCool940711 commented on #71
Working on an update for the script, give me a few minutes and I will have the changes on the repository.

[2019-04-30 15:40] ZeroCool940711 commented on #71
@SDXC Done, Ive updated the code with a fork of CFscraper that works, keep in mind that some times TMOFans.com (tumangaonline.com) is not using cloudflare so when its not using it the script will just use `requests` to get the content instead of `cloudscraper` which is the new fork of cfscrape im using, when that happens the `cf_clearance` field will be empty. Test it and tell me if I need to upda

[2019-04-30 16:28] hypomaniak commented on #112
Yeah, just saw the CF enabled now, and the cookie workaround is not working, even with IPV6 disabled.

[2019-04-30 16:48] nille02 commented on #112
Did the workaround works for you previously? right now its working for me.

[2019-04-30 16:52] hypomaniak commented on #112
Well, I got the application working for a few days in a row last week, then it got messy again.

I had some time to set up the Lazarus environment this weekend, I will try to look if I can find what is the server answer. Until now, I only found where the cookies are input in the http request.

[2019-04-30 20:24] SDXC commented on #71
@ZeroCool940711 Doesn't seem to work:

Traceback (most recent call last):
  File "cfscraper.py", line 5, in <module>
  File "site-packages\cloudscraper\__init__.py", line 230, in create_scraper
  File "site-packages\cloudscraper\__init__.py", line 71, in __init__
  File "site-packages\cloudscraper\user_agent\__init__.py", line 17, in __init__
  File "site-packages\cloudscraper\user_agent\__init__.

[2019-04-30 20:28] ZeroCool940711 commented on #71
That's weird, it worked for me, let me double check.

[2019-04-30 20:34] SDXC commented on #71
I just dumped the exe together with node.exe, opened cmd, changed to the directory where the exe is located and tried this:

cfscraper.exe https://mangadex.org

[2019-04-30 20:58] ZeroCool940711 commented on #71
Seems like the problem is with the exe, the script works without any problem, for what Ive seen its that it cant find the user_agent list.

[2019-04-30 22:14] SDXC commented on #122
AbidZakaria fixed the module for KomikCast.
When CF workaround is correctly configured, everything works.

Issue will be closed. If you still get problems, you can re-open it anytime.

[2019-04-30 22:14] #122 closed

[2019-05-01 02:49] AbidZakaria commented on #60
leomanga done created lua file

[2019-05-01 05:02] molitar commented on #125
awesome great suggestion there sadeghp88.

[2019-05-01 19:14] hypomaniak commented on #112
After tinkering with the debugger, I think I managed to pinpoint the problem.

Looking for how the cookies are handled between the settings and the modules, I foundthis:
WebsiteModules.pas
procedure TModuleContainer.PrepareHTTP

The cookies are passed like this:
with Settings.HTTP do
  begin
...
      AHTTP.Cookies.Text:=Cookies;

Looking at AHTTP.Cookies.Count, it always stayed at 1, as if the st

[2019-05-01 21:12] formigao opened #139 "Add support for website [HentaiNexus]"

[2019-05-02 04:56] Tmp341 commented on #112
If you double click on values where you see ``...``, it will show all. Firefox just trying to look short (to fit).

[2019-05-02 09:05] hypomaniak commented on #112
Did you leave the module settings enabled?
If not, the useragent is not sent

[2019-05-02 09:32] Tmp341 commented on #112
Yeah, both disabled an enabled.

[2019-05-02 12:37] SDXC commented on #71
I used https://github.com/lukele/cloudflare-scrape/blob/update-challenge-solver/cfscrape/__init__.py for now, which works fine in most cases. I compiled it with your script and it was done successfully. Thanks again.

Now, I will implement some mechanics to use the bypassing script in FMD at a very basic level:
If FMD encounters a CF page, it will run the script and put the cookies in a variable a

[2019-05-02 13:05] ralvarador commented on #71
Time ago, I was using this project: https://github.com/7ouma/CrunchyManga
The coder also had problems with py2exe and cfscrape; because of that was necessary install phyton and Node.js in order to run the Script instead of an
.EXE. The project is not maintained anymore.

[2019-05-02 13:24] SDXC commented on #71
cfscrape (in our case it will be called cf_bypass) will also be an exe made out of python and node.exe will be needed as well. But only these 2 exe files are needed. For now it works pretty well.

[2019-05-02 13:35] Tosterr1 opened #140 "Download doesn't work [MangaLib]"
![57013169-ee9d2d00-6c12-11e9-858b-482574100359](https://user-images.githubusercontent.com/42684479/57079088-4e213880-6cf8-11e9-8ee9-85c7e097835e.jpg)
![57013167-ee9d2d00-6c12-11e9-95dc-e0a2b5db13b7](https://user-images.githubusercontent.com/42684479/57079090-4eb9cf00-6cf8-11e9-9c15-25065cde46e8.jpg)

[2019-05-02 18:50] ChocolateOtaku commented on #71
You don't need python, you may use `node` and a corresponding script based on e.g. [cloudscraper](https://www.npmjs.com/package/cloudscraper) to get this done.
I'm pretty sure someone could figure out how to tie things together ...

[2019-05-02 20:09] ChocolateOtaku opened #141 "Download Fails [NewType]"
Cannot download chapters from e.g.
https://comic.webnewtype.com/contents/zone/

[2019-05-03 05:52] Tmp341 commented on #141
Probably needs fixes within -> [NewType.pas](https://github.com/fmd-project-team/FMD/blob/master/baseunits/modules/NewType.pas), it is in ``Lualize`` project #37.

[2019-05-03 07:23] JokoeSukri opened #142 "Add support for website [Toonily]"
Not so much, I Just want this website
https://toonily.com/

Edit : The website layout, layer, and coding pretty much identical with Zero Scans website https://zeroscans.com/

[2019-05-03 11:19] AbidZakaria commented on #37
@SDXC LeoManga done moved from pascal to lua file
and fixed from issue https://github.com/fmd-project-team/FMD/issues/60

[LeoManga.zip](https://github.com/fmd-project-team/FMD/files/3141612/LeoManga.zip)

[2019-05-03 19:40] SDXC commented on #140
AbidZakaria fixed it. New lua script should be available on next restart.

Issue will be closed. If you still have problems, just re-open this issue.

[2019-05-03 19:40] #140 closed

[2019-05-03 20:27] SDXC commented on #60
Thanks to @AbidZakaria the website has now been changed to the new url and is now a lua script.

Issue will be closed. If you have problems with the new website you can re-open this issue.

[2019-05-03 20:27] #60 closed

[2019-05-03 21:02] yoshiro12 opened #144 "Add support for website [Toomics, ValhallaScans]"
Hello please add
https://global.toomics.com
https://manytoon.com
https://valhallascans.com
please thank you.

[2019-05-04 01:15] molitar opened #145 "List index out of Range when downloading all lists at once [ManhwaCo]"
Windows 10 64-bit
32GB DDR4 Memory

When I am downloading all list at once I get this error after some time.

[2019-05-04 03:01] AbidZakaria commented on #145
you try download from ManhwaCo?

[2019-05-04 04:02] AbidZakaria commented on #87
I can download from rawQQ and everything fine

[2019-05-04 05:07] djgerman10 opened #146 "Some downloads fail [Kumanga]"
http://www.kumanga.com

[2019-05-04 08:40] Tmp341 commented on #87
Region lock maybe? Haven't tried lately.

[2019-05-04 08:41] Tmp341 commented on #146
Wait, title says ``Newtype`` but you've asked for ``Kumanga``. Which one is it?

Newtype is needed to be implemented in **Lua** language. If kumanga isn't working, we should check it.

[2019-05-04 10:34] hypomaniak commented on #112
Ok, so I found the right solution (for my situation)

Since editing the .lua file requires to restart FMD to reload it, I looked a little more in how the cookie settings are passed to the "low-level" code, and in my case, I have to input every cookie on its own line and WITHOUT any punctuation, so no ;

[2019-05-04 15:01] anfgomezmo commented on #112
The problem is that you need to change enable to (false), apply, load the cookie no matter if it has all the information, then enable (true) and apply.

FMD, leave the cookie load if you do not disable, the old cookie will remain in the memory stack so MangaDex is not going to work unless you disable it first then load it.

[2019-05-04 15:22] SDXC opened #147 "[BETA] Cloudflare Bypassing"
**THIS IS ONLY FOR PEOPLE WHO WANT TO TEST EXPERIMENTAL FEATURES!**
If you want to help in finding bugs and by providing feedback, you can download this beta release of FMD (based on 0.9.163.0). Backup your old FMD Installation!

### About this beta release
This beta package implements a new approach on how to bypass the Cloudflare "Please wait 5 seconds" page, that in many cases blocks FMD.

###

[2019-05-04 15:27] hypomaniak commented on #112
Nope, I checked with the debugger: without touching the Enable setting (if it's already checked), what you enter in the Cookies box is saved and used, BUT you need to click on another field to validate what you entered in the Cookies field.

[2019-05-04 16:32] AbidZakaria commented on #147
nice,
Mangadex Cloudflare bypass fine and download working

[2019-05-04 16:43] AbidZakaria commented on #37
@SDXC and @Tmp341 please remove [NewType] site sorce
because that site not manga reader

[2019-05-04 16:45] AbidZakaria commented on #146
@Tmp341 can you remove Newtype from list project lualize
because that site not manga reader

[2019-05-04 16:47] SDXC commented on #37
@AbidZakaria What do you mean? It is a reading website.

[2019-05-04 16:48] AbidZakaria commented on #37
can you try go to that website for testing

[2019-05-04 16:51] SDXC commented on #37
FMD doesn't support the new website design right now, but there are titles you can read there (not all chapters are complete though (preview or premium content, not sure).

For example:
https://comic.webnewtype.com/contents/sewayaki/
https://comic.webnewtype.com/contents/sewayaki/1340/

[2019-05-04 16:58] AbidZakaria commented on #146
i can access and download from `kumanga`

![image](https://user-images.githubusercontent.com/19544118/57182361-5f20a400-6ec8-11e9-8304-033d540d7fda.png)

![image](https://user-images.githubusercontent.com/19544118/57182366-6a73cf80-6ec8-11e9-96d0-67bb4c968c77.png)

[2019-05-04 17:00] SDXC commented on #37
If you can't access the website, then I'll look into fixing this.

[2019-05-04 17:03] SDXC commented on #37
@AbidZakaria Could you port and fix this website? https://github.com/fmd-project-team/FMD/issues/54

[2019-05-04 17:09] SDXC commented on #87
@AbidZakaria @Tmp341 The problem is, that some image servers used by RawQQ seem to be not working with FMD. A sample chapter that FMD can't handle:
https://rawqq.com/read-infection-raw-chapter-1.html

[2019-05-04 17:47] Slasar41 commented on #147
If I pause the downloads, change the network connection, then resuming it without restarting FMD, the next chapter/manga on queue will fail.
https://i.imgur.com/FXcRWTU.gifv

[2019-05-04 18:17] SDXC commented on #147
@Slasar41 That is more or less an expected behavior. I mean, did it ever work with the manual workaround, when you paused and changed the network connection?

DynHTTP is not part of the "user" settings, but the possibility should be given to clear these settings if there is a need to.

For example if I add proxy settings but i don't want to use them right now, I want to be able to disable them and

[2019-05-04 18:22] Slasar41 commented on #147
I thought it will be fixed with the new implementation. 😅

So it should be separated, maybe adding a line between ProxyPassword and DynHTTP.

[2019-05-04 18:33] SDXC commented on #87
Found the issue. The referrer wasn't needed anymore for RawQQ. Fixed it.

Issue will be closed. Just re-open it if something still doesn't work.

[2019-05-04 18:33] #87 closed

[2019-05-04 18:35] Slasar41 commented on #147
FMD freeze for about 3 seconds repeatedly in one minute and made the HDD's active time to spike.
![image](https://user-images.githubusercontent.com/28888646/57183354-f6d8bf00-6ed5-11e9-9515-58500d7eb44d.png)

[2019-05-04 18:38] SDXC commented on #147
@Slasar41 Regarding the settings: Not possible without tinkering on things that shouldn't be tinkered with. It's a generated control, so I don't have much freedom with it. And it's also not really a necessity. It's there and it (theoretically) works. If I come up with a better idea, I'll let you know.

What exactly was FMD doing while you had that spike?

[2019-05-04 18:46] molitar commented on #145
I was just doing the update lists and got that error.

[2019-05-04 18:47] Slasar41 commented on #147
Okay, thanks.

Doing nothing or while downloading, so If I have constant transfer rate 500KB/s, it'll freeze at that speed then will became 1.5MB/s then go down to 500KB/s again.
This also happened from when I use riderkick version on my laptop with SSD. I thought it might be a laptop problem but it also happened on my PC (I never use FMD on my PC 😅).

[2019-05-04 18:59] SDXC commented on #97
Should be fixed now.

Issue will be closed. Please re-open this issue if you still have problems.

[2019-05-04 18:59] #97 closed

[2019-05-04 19:00] SDXC commented on #145
Can you update the manga list only for ManhwaCo? Do you still get that error?

[2019-05-04 19:01] molitar commented on #147
Well I never used MangaDex so it was the perfect one to test with but I am not getting any cookies at all.

[2019-05-04 19:03] SDXC commented on #147
@Slasar41 depending on the website it could be that's just some slow connections right now. even MangaDex is really slow atm.

@molitar Please don't try too much on MangaDex right now. If CF asks for recaptchas then you also won't get any cookies. You can test it on japscan.to if you just want to test.

[2019-05-04 19:13] Slasar41 commented on #147
@SDXC Sorry, it's not in one minute but in two minutes. Just FMD that froze up.
See https://i.imgur.com/lGkVpra.gifv

[2019-05-04 19:23] Mereck13579 commented on #147
Tried both MangaDex and Japscan.to, neither worked (fyi I'm on a fresh install)

[2019-05-04 19:27] Josexv1 commented on #147
Poeple in the forums [released a software](http://sizer99.com/pmd/) to download from MD and they setup some limitations which could help avoiding bans, maybe if we can implement it in the MD module it will improve our chances

[2019-05-04 19:35] Slasar41 commented on #147
For MangaDex, FMD doesn't got the cookies automatically so I put manual workaround and it works (needs to solve the captcha).
For JapsScan, FMD does got the cookies automatically but it's still does't works even if later I put manual workaround.
![image](https://user-images.githubusercontent.com/28888646/57183973-59ce5400-6ede-11e9-94d4-34bf404c4943.png)
![image](https://user-images.githubusercont

[2019-05-04 19:48] molitar opened #148 "When chapers fail to load for some reason they always show 0 chapters"
The only way I can get the chapters that show 0 available because of Cloudflare is by actually clicking on each and every title. This is too time consuming so currently the only way to fix the number of chapters is to re-download from server then update from the site server.

Can we get the 'Update Manga List' to also update the number of chapters?

[2019-05-04 20:07] molitar commented on #147
Japscans worked perfectly fine for me including testing a download.

[2019-05-04 20:08] SDXC commented on #148
When updating a manga list, only new titles will be checked and numbered. Existing titles won't be updated until you load an entry.

We will not implement that updating a manga list will also go through all the existing entries again. If you want to have the chapter numbers, you can delete the db file and create a new list.

The only thing I could do is to implement that the chapter count doesn't

[2019-05-04 20:11] molitar commented on #148
That would be good also as that will help to keep track of what chapter we are at in that manga.

[2019-05-04 20:18] SDXC commented on #147
@molitar I think some websites have problems with some user agents. There are some mobile user agents, which for example JapScan can't handle or handles differently. In my case I could load the manga info, but not the chapters when I had a mobile user agent.

[2019-05-04 20:43] SDXC commented on #146
For NewType there already exists an issue.

For KuManga there is actually a problem with their website and nothing we can fix.
Downloads that fail are also failing when loading on their website.

Issue will be closed.

[2019-05-05 07:38] MIRVOUS opened #149 "Website change domain [otakuindo]"
From https://otakuindo.net/ to https://otakuindo.co/
![otakuindo co](https://user-images.githubusercontent.com/45929526/57190353-5f11ba00-6f43-11e9-8863-8d5888d0d006.PNG)
![otakuindo net](https://user-images.githubusercontent.com/45929526/57190354-5f11ba00-6f43-11e9-9041-c599624402f8.PNG)

[2019-05-05 13:05] SDXC commented on #37
@AbidZakaria Here's a new version without Pascal modules. cf_bypass is also included.
[fmd_0.9.163.1_Win64-withoutPascalModules.zip](https://github.com/fmd-project-team/FMD/files/3145544/fmd_0.9.163.1_Win64-withoutPascalModules.zip)

[2019-05-05 13:14] SDXC commented on #149
Url changed.

[2019-05-05 13:14] #149 closed

[2019-05-05 13:18] SDXC commented on #144
ManyToon has already been asked for #125
It will be handled there.

[2019-05-05 13:42] SDXC commented on #105
MangaHasu works and there was no feedback for more than 20 days.
Issue will be closed.

[2019-05-05 13:42] #105 closed

[2019-05-05 14:57] Tmp341 commented on #37
Wouldn't it be good to create branches for these?

[2019-05-05 15:17] SDXC commented on #37
That's not necessary because none of these ports are in conflict with the master branch.
Lua modules are higher priority than Pascal modules, so even if we release a Lua module before a version without the Pascal module comes out, it still works.

New branches will only be created if we do something outside the normal release cycle.

[2019-05-05 16:19] Tmp341 commented on #37
But we do need a new database repository.

[2019-05-05 16:32] SDXC commented on #37
Yep, will be new repo. At the moment I'm more focused on fixing and adding lua modules and the cf_bypass. A bit later, I'll start with the new repo for website db files.

[2019-05-05 17:56] anfgomezmo commented on #112
Weird, I checked too and for me, it was stacking maybe varies from system and configurations. I will test

[2019-05-05 18:04] hypomaniak commented on #112
Could also be that I don't have the exact same version of all the libs/addons compared to the release version (I checked all the list, so should be ok), but for now I have the same behavior between what I compile and the release.

[2019-05-05 21:29] devprojectid commented on #147
error

`C:\FMD\cf_bypass.exe
Traceback (most recent call last):
  File "cf_bypass.py", line 3, in <module>
IndexError: list index out of range
[13196] Failed to execute script cf_bypass`

[2019-05-06 07:33] SDXC commented on #147
@devprojectid Thanks but I need to know what FMD was doing at the time of the error, where this error was reported and for which website it happened.

[2019-05-06 14:40] imKota commented on #130
@SDXC Any news?

[2019-05-06 18:01] devprojectid commented on #147
it fixed now, it's comeout when cloudflare solve captcha show up

[2019-05-06 18:17] Von07 opened #151 "Missing chapters [ComicExtra]"
Ex:
Site: Has all chapters
https://www.comicextra.com/comic/the-walking-dead

FMD: Missing Chapters from the site
![Problem2](https://user-images.githubusercontent.com/21298898/57245730-1e628f80-706e-11e9-93ef-dbc554db211a.png)

Version	:	0.9.163.0

[2019-05-06 18:26] Tmp341 commented on #147
That exe can't detect recaptcha issue? Not talking about ``Show captchas``, but ``fmd can't bypass cf now because recaptcha issue occured`` kinda.

[2019-05-06 20:44] SDXC commented on #130
It's now a lua script and should work after you updated your lua scripts.

Issue will be closed. Re-open it, if you still have some issues.

[2019-05-06 20:44] #130 closed

[2019-05-06 20:47] SDXC commented on #151
Maybe we should also invert the chapter list like the other websites.

[2019-05-07 07:42] AbidZakaria opened #153 "Help for lua script [MangaTr, Puzzmos]"
@SDXC i can't handle cookie request @_@
[manga-tr.zip](https://github.com/fmd-project-team/FMD/files/3151344/manga-tr.zip)

[2019-05-07 08:57] typhoe opened #155 "Mangas with names too long produce chapter overwritten files"
Hi,

on manga with (too) long titles, FMD won't write correctly the chapters (they overwrite).

Ex:
https://mangadex.org/title/36763/the-labyrinth-raids-of-the-ultimate-tank-the-tank-possessing-a-rare-9-999-endurance-skill-was-expelled-from-the-hero-party

I use Folder = %MANGA%
And Chapter = %MANGA% - %CHAPTER%

But in this case, the name is shorted as:
The Labyrinth Raids of the Ultimate Tank ~T

[2019-05-07 15:17] STharanga commented on #155
Windows has 260 character limit to paths, maybe wine also has that.
With your settings, files will save like,
**download path\MangaName\MangaName - Chapter\files**

for shorter path use only %CHAPTER% for chapter.it will be like,
**download path\MangaName\Chapter\files**

if you added the manga to favorites you can change manga folder name to shorter one by change "Save to"

[2019-05-07 15:32] typhoe commented on #155
Hi,

thank you for your reply.
Yes, I know there is this possibility but I'd rather keep my naming scheme and I don't think I can use a name scheme specific for only selected mangas?

I was more hoping for a solution like this (if it is possible to implement):
%MANGA% = full manga name
%MANGA:15% = 15 first characters of the the manga name

Regards

[2019-05-07 15:51] SDXC commented on #125
Website added by AbidZakaria.

[2019-05-07 15:51] #125 closed

[2019-05-07 15:53] SDXC commented on #110
Website added by AbidZakaria as 3asqOrg so it doesn't conflict with the old 3asq which is at least for now still available.

[2019-05-07 15:53] #110 closed

[2019-05-07 16:18] SDXC commented on #151
AbidZakaria fixed it.

[2019-05-07 16:18] #151 closed

[2019-05-07 23:47] molitar commented on #147
Strange behavior with NineManga.  It was reporting 0 chapters even when I tried update manga list.  I had to restart FMD before it started to read chapters again for download.

[2019-05-07 23:59] molitar opened #156 "Getting or updating manga list doesn't work [PervEden]"
Ok as there is many inactive files when using Download list from server I thought I would start fresh.  So I used Update manga list and it failed to update most of the chapters that are available. For example Cartoonist not found.

[2019-05-08 00:13] AbidZakaria commented on #156
Give me link perveden

[2019-05-08 01:46] AbidZakaria commented on #156
it's not bug (maybe)
but perveden is offline website or change domain

can you access that website in your browser?

![image](https://user-images.githubusercontent.com/19544118/57343452-a9767f00-716d-11e9-9b9d-4f1be79bcc7c.png)

[2019-05-08 02:22] molitar commented on #156
Yes I can reach the website just fine. I have attached a screenshot of what I get when I update from the manga list and not download from server.

http://www.perveden.com/eng/

![Screenshot_1](https://user-images.githubusercontent.com/16074561/57344781-8ec4eb80-7116-11e9-85cc-d904917cfaeb.png)

[2019-05-08 05:33] Tmp341 commented on #156
My update list found ``100``, i guess that is not the exact number though.

[2019-05-09 06:14] molitar commented on #147
One thing I noticed is that I have to go back into the advanced and clear out the cookies from the DynHTTP and HTTP then restart FMD to get it to work again with Kissmanga.  The other option is to clear them both then hit apply and try again.  So it appears right now that DynHTTP is also populating in the HTTP so the update is ignored when cookie is no longer valid.

[2019-05-09 21:50] molitar commented on #147
Bug: Almost all the lua show date of 12/31/1899.  Does not happen with the release version backup folder.

![Screenshot_1](https://user-images.githubusercontent.com/16074561/57489044-eaac8300-7282-11e9-86fe-9397b0c453f4.png)

only a very of them show the correct date.

[2019-05-10 13:02] Slasar41 opened #159 "Wrong number on new chapters window's title bar"
The number on this window's title bar is wrong, this happened in other language too.
![image](https://user-images.githubusercontent.com/28888646/57529034-1badb600-735e-11e9-97ec-254a093000e6.png)

[2019-05-10 18:26] Twoearle commented on #147
Mangadex works fine with the beta version. Haven't tried other CF-protected sites yet.

[2019-05-10 18:28] yoshiro12 opened #160 "Add support for website [MangaFull]"
Hello please add
https://mangafull.org

[2019-05-11 17:59] SDXC commented on #139
Website added and tested.

[2019-05-11 17:59] #139 closed

[2019-05-11 18:38] SDXC commented on #159
@Slasar41 Strings have been changed. The translations have to be redone for these strings:
https://github.com/fmd-project-team/FMD/commit/afc3c8e382a4644a278ca184c32a47d9a4269d97

I'll close this issue. Just create the usual pull-request for the translation.

[2019-05-11 18:38] #159 closed

[2019-05-12 09:15] djgerman10 commented on #146
It's weird because on the page I could read the magician but I can not download it.
Thank you for taking the trouble to see the problem

sorry for my English
I am using the translator
Greetings from Argentina

[2019-05-13 10:12] JokoeSukri opened #165 "Add support for website [PocketAngelScans]"
Only this website

https://pocketangelscans.com/

The Layout Design Similiar with [Zero Scans](http://zeroscans.com/) and [Toonily](https://toonily.com/)

[2019-05-13 21:20] gunmetal313 commented on #160
https://github.com/fmd-project-team/FMD/pull/166
MangaFull support in process

[2019-05-14 14:44] RoudoRora opened #167 "Default bar size vertically too short"
![image](https://user-images.githubusercontent.com/50617023/57707141-add4f780-7699-11e9-997a-7473fc74821d.png)
Adjustable vertical expansion like the horizontal expansion function would be good.

[2019-05-14 16:52] Slasar41 commented on #167
I think it has something to do with DPI scaling.
Try changing these options:
![image](https://user-images.githubusercontent.com/28888646/57716465-4623aa00-76a3-11e9-95bd-3d0067dff08e.png)

[2019-05-14 19:27] lootbot opened #168 "Add support for website [LeviatanScans]"
https://leviatanscans.com

[2019-05-14 19:36] SDXC commented on #168
This one's actually already implemented...

[2019-05-14 19:47] #168 closed

[2019-05-14 20:04] jsoudeer commented on #147
Hello,

Japscan finally works for me.
I change the url, using manga instead of mangas. (ex : https://www.japscan.to/manga/the-promised-neverland/ )
How can i change the db?

Johan

[2019-05-14 20:25] jsoudeer opened #169 "Missing French translation - Manque traduction française"
Hello,

Did a french translation is in progress? If not can i propose my help?
Une traduction française est-elle en préparation? sinon puis-je proposer mon aide?

Regards
Cordialement

Johan

[2019-05-14 23:02] ayanamichie opened #170 "Not really an issue, but more like a report [KissManga]"
After some time without trying like 2 weeks more, it was not working just getting the cookies and user agent. to work again i had to get:
![image](https://user-images.githubusercontent.com/48865118/57737596-9dfde900-7682-11e9-9273-659c0bbd1bef.png)
the initialization vector did not change, but the key did:
![image](https://user-images.githubusercontent.com/48865118/57737716-09e05180-7683-11e9-85e1

[2019-05-15 00:05] djgerman10 opened #171 "Add support for website [MangaHost, MangaMX, ZManga, HeavenManga]"
Hello please add
**Portugues**
http://br.mangahost.com

**Spanish**
https://manga-mx.com
https://zmanga.org
http://heavenmanga.com

[2019-05-15 06:29] Tmp341 commented on #169
I haven't seen any. You can always translate and create PR.

[2019-05-15 06:32] Tmp341 commented on #170
It is always good to know that, until it is deprecated.

[2019-05-15 12:12] Slasar41 commented on #170
Yup, three days ago I also need to change the Key content to get KissManga working again.
@Tmp341 You should put back the KissManga workaround to Wiki.

[2019-05-16 06:08] DaniAjalah commented on #113
Request web https://klikmanga.com/
thank you for all work.

[2019-05-16 06:37] Tmp341 commented on #170
@Slasar41 Done. 🙂

[2019-05-17 00:42] molitar commented on #147
The cf workaround will stop looking for new cookies until I manually go into the  DynHTTP cookies and delete them all.. Then I can go download the website info like for kissmanga and it will work.  It seems if it is not working if there is already a DynHTTP it will not refresh.

[2019-05-17 03:11] ragna0011 opened #173 "Can't get latest Lua modules"
yeah, i'm new to this, and idk about any programming languages. im only asking, what is the latest version for this? cuz sumhow i cant update the fmd, is v 0.9.163 the latest? can anyone just give me the lua file for all available sites? thank you

[2019-05-17 05:39] Tmp341 commented on #173
v0.9.163.0 is the latest, you can track [here](https://github.com/fmd-project-team/FMD/releases).

Lua files are up to date, FMD downloads them automatically if you have a connection (unless you, your av or isp blocks github servers).

[2019-05-17 06:14] ragna0011 commented on #173
well, i dont really know, i tried disabling my avast, but still wont update my lua, maybe firewall? havnt tried it. idk about my isp tho...may latest lua was updated 1/18/2019. so im asking if can u zip ur lua files guys then share it to me? :)

[2019-05-17 07:40] SDXC commented on #173
@ragna0011 Did you update to our forked version? If you still use riderkick's version you won't get the new lua files.

[2019-05-17 17:29] SDXC commented on #156
Fixed.

[2019-05-17 17:29] #156 closed

[2019-05-17 18:26] SDXC commented on #54
@aelbuz The MangaTR fix should come as a lua update on your next FMD start. Please test it intensively and let us know if everything's okay or not.

[2019-05-17 18:27] SDXC commented on #153
I released the script, as it seems to work fine. I'll close this issue. If you have anything that has still to be fixed, let me know in Discord. Thanks for your work.